---
layout: none
---
RedirectPermanent /formations-methodes-agiles /formations-methodes-agiles.html
RedirectPermanent /formations-methodes-agiles/formation-scrummaster-certifiante-en-francais-animee-par-petra-skapa /formation-scrummaster-certifiante-francais.html
RedirectPermanent /formations-methodes-agiles/formation-scrummaster-jeff-sutherland /formation-scrummaster-certifiante-anglais.html
RedirectPermanent /formations-methodes-agiles/formation-certifiante-product-owner-en-francais-animee-par-petra-skapa /formation-scrum-product-owner-certifiante-francais.html
RedirectPermanent /formations-methodes-agiles/formation-product-owner-arlen-bankston /formation-scrum-product-owner-certifiante-anglais.html
RedirectPermanent /formations-methodes-agiles/formation-scrummaster-academy /formation-scrummaster-academy.html
RedirectPermanent /formations-methodes-agiles/formation-scrum-un-coach-en-pratique-veronique-messager-rota /formation-scrum-un-coach-en-pratique.html
RedirectPermanent /formations-methodes-agiles/formation-introduction-a-scrum-animee-par-jean-laurent-de-morlhon /formation-introduction-a-scrum.html
RedirectPermanent /formations-methodes-agiles/formation-developpement-logiciel-avec-le-lean-animee-par-mary-et-tom-poppendieck /formation-developpement-logiciel-avec-le-lean.html
RedirectPermanent /formations-methodes-agiles/formation-kanban-avec-david-anderson /formation-kanban.html
RedirectPermanent /formations-methodes-agiles/formation-strategicplay-lego-serious-play /formations-methodes-agiles.html
RedirectPermanent /formations-methodes-agiles/formation-architecture-lean-animee-par-james-coplien /formation-architecture-lean.html
RedirectPermanent /formations-methodes-agiles/formation-developpement-agile-avec-scrum-et-xp-animee-par-gilles-mantel /formation-scrum-intra-entreprise.html
RedirectPermanent /formations-methodes-agiles/formation-tdd-animee-par-simon-caplette-2 /formation-tdd-software-craftsmanship.html
RedirectPermanent /formations-methodes-agiles/formation-agile-for-manager-animee-par-mack-adams /formation-agile-managers.html
RedirectPermanent /formations-methodes-agiles/formations-agiles-avancees /formations-methodes-agiles.html
RedirectPermanent /formations-methodes-agiles/formation-user-story-mapping-for-product-owners
RedirectPermanent /formations-methodes-agiles/formation-uml-agile-animee-par-michel-zam /formations-methodes-agiles.html
RedirectPermanent /formations-java-jee /formations-techniques.html
RedirectPermanent /formations-java-jee/formation-java-performance-tuning-kirk-pepperdine /formation-java-performance-tuning.html
RedirectPermanent /formations-java-jee/formation-architectures-aujourdhui-java-ee-antonio-goncalves /formation-java-ee-6.html
RedirectPermanent /formations-java-jee/java-concurrency-in-practice /formation-java-concurrency-specialist.html
RedirectPermanent /formations-java-jee/the-well-grounded-java-developer /formation-developpeur-java-moderne.html
RedirectPermanent /formations-java-jee/formation-mongodb-for-administrators-animee-par-10gen /formation-mongodb.html
RedirectPermanent /formations-java-jee/formation-cloudera-developpeurs-pour-hadoop-apache /formation-hadoop-certifiante-developpeurs.html
RedirectPermanent /formations-java-jee/formation-cloudera-administrateurs-pour-hadoop-apache /formation-hadoop-certifiante-administrateurs.html
RedirectPermanent /formations-java-jee/formation-android-animee-par-pascal-ognibene /formation-android.html
RedirectPermanent /formations-java-jee/formation-scala-animee-par-trond-bjerkestrand /formation-scala.html
RedirectPermanent /formations-java-jee/formations-applications-java-pretes-pour-la-production-cyrille-leclerc /formation-applications-java-production.html
RedirectPermanent /formations-java-jee/formation-software-craftsmanship /formation-tdd-software-craftsmanship.html
RedirectPermanent /formations-java-jee/formation-troubleshooting-en-java-animee-par-pablo-lopez /formation-troubleshooting-en-java.html
RedirectPermanent /formations-java-jee/formation-maven-nathaniel-richand /formation-maven.html
RedirectPermanent /formations-java-jee/formation-html-5-animee-par-seven-le-mesle /formation-html-5.html
RedirectPermanent /formations-java-jee/formation-devops-pour-java-animee-par-cyrille-le-clerc /formation-devops-pour-java.html
RedirectPermanent /formations-java-jee/formation-cloud-computing-java-de-amazon-ec2-au-private-cloud /formation-cloud-computing.html
RedirectPermanent /informations /a-propos.html
RedirectPermanent /informations/nos-animateurs /animateurs.html
RedirectPermanent /informations/nos-clients /a-propos.html
RedirectPermanent /comment-financer-sa-formation /comment-financer-sa-formation.html
RedirectPermanent /informations/formations-intra-entreprise /formations-intra-entreprise.html
RedirectPermanent /informations/inscription /inscription.html 
RedirectPermanent /les-etapes-pour-devenir-srcummaster /devenir-scrum-master.html
RedirectPermanent /informations/xebia-essentials /xebia-essentials.html
RedirectPermanent /informations/mentions-legales /mentions-legales.html
RedirectPermanent /informations/conditions-generales-de-vente /conditions-generales-de-vente.html
RedirectPermanent /promos /promos.html 
RedirectPermanent /coaching-agile /coaching-agile.html
RedirectPermanent /contact /contact.html
RedirectPermanent /wp-content/uploads/catalogue-2012.pdf /catalogue-2013.pdf
RedirectPermanent /news/formation-scrummaster-certifiante-promo /promos.html 
RedirectPermanent /event-high-performance-26-juin /news.html
RedirectPermanent /cloud-day-22-mai-chez-xebia /news.html
RedirectPermanent /mongodb-day-paris /news.html
RedirectPermanent /devoxx-france /news.html
RedirectPermanent /wp-content/uploads/bon-de-commande.pdf /inscription.html
RedirectPermanent /sortie-du-livre-%C2%AB-scrum-en-action-%C2%BB-par-guillaume-bodet /news.html
RedirectPermanent /sortie-du-livre-«-scrum-en-action-»-par-guillaume-bodet /news.html
RedirectPermanent /formations-methodes-agiles/formation-scrummaster-certifiante-en-francais-animee-par-petra-skapa/comment-page-9 /formation-scrummaster-certifiante-francais.html
RedirectPermanent /formation-scrummaster-certifiante-en-francais-anglais /formations-methodes-agiles.html#certifications-scrum
RedirectPermanent /formations-methodes-agiles/formation-scrummaster-jeff-sutherland/comment-page-11 /formation-scrummaster-certifiante-anglais.html
RedirectPermanent /formations-methodes-agiles/formation-certifiante-product-owner-en-francais-animee-par-petra-skapa/comment-page-4 /formation-scrum-product-owner-certifiante-francais.html
RedirectPermanent /formations-methodes-agiles/formation-product-owner-arlen-bankston/comment-page-4 /formation-scrum-product-owner-certifiante-anglais.html
RedirectPermanent /formations-methodes-agiles/formation-scrum-un-coach-en-pratique-veronique-messager-rota/comment-page-3 /formation-scrum-un-coach-en-pratique.html
RedirectPermanent /formations-methodes-agiles/formation-tdd-animee-par-simon-caplette-2/comment-page-1 /formation-tdd-software-craftsmanship.html
RedirectPermanent /formations-java-jee/formation-java-performance-tuning-kirk-pepperdine/comment-page-2 /formation-java-performance-tuning.html
RedirectPermanent /java-ee-6-book-by-antonio-goncalves /formation-java-ee-6.html
RedirectPermanent /formations-java-jee/formation-architectures-aujourdhui-java-ee-antonio-goncalves/comment-page-1 /formation-java-ee-6.html
RedirectPermanent /atelier-performance-avec-kirk-pepperdine /formation-java-performance-tuning.html
RedirectPermanent /informations/page/2 /a-propos.html
RedirectPermanent /informations/page/3 /a-propos.html
RedirectPermanent /informations/page/4 /a-propos.html
RedirectPermanent /informations/page/5 /a-propos.html
RedirectPermanent /informations/page/8 /a-propos.html
RedirectPermanent /formations-java-jee/formation-scala-avec-martin-odersky /formation-scala.html
RedirectPermanent /formations-java-jee/formation-nosql-pour-les-applications-dentreprises-avec-michael-figuiere /formations-techniques.html#formation-big-data
RedirectPermanent /news/formation-architectures-d%e2%80%99aujourd%e2%80%99hui-avec-java-ee-6-avec-antonio-goncalves-les-26-28-septembre-au-tarif-de-1500-euros-au-lieu-de-1900-euros /promos.html 
RedirectPermanent /news/formation-java-performance-tuning-de-kirk-pepperdine-animee-par-les-leaders-du-london-java-community-ben-evans-et-martijn-verburg-les-17-20-septembre-au-tarif-de-1500-au-lieu-de-2900-euros /promos.html 
RedirectPermanent /news/formation-hadoop-for-developers-certifiante-en-partenariat-avec-cloudera-les-9-12-juillet-au-tarif-de-2395-euros-au-lieu-de-2695-euros /promos.html 
RedirectPermanent /news/formation-scrummaster-certifiante-en-francais-animee-par-petra-skapa-les-2-3-juillet-au-tarif-de-1300-euros-au-lieu-de-1700-euros /promos.html 
RedirectPermanent /news/formation-mongodb-pour-administrateurs-en-partenariat-avec-10gen-le-12-13-juin /news.html
RedirectPermanent /news/formation-developpement-logiciel-avec-le-lean-animee-par-mary-et-tom-poppendieck-les-23-et-24-avril /news.html
RedirectPermanent /news/certification-scrummaster-18-et-19-avril-1100e-au-lieu-de-1800e /promos.html 
RedirectPermanent /sortie-du-livre-%c2%ab-scrum-en-action-%c2%bb-par-guillaume-bodet /news.html
RedirectPermanent /formations-methodes-agiles/formation-scrummaster-certifiante-en-francais-animee-par-petra-skapa/comment-page-8 /formation-scrummaster-certifiante-francais.html
RedirectPermanent /formations-methodes-agiles/formation-scrummaster-jeff-sutherland/comment-page-10 /formation-scrummaster-certifiante-anglais.html
RedirectPermanent /formations-methodes-agiles/formation-certifiante-product-owner-en-francais-animee-par-petra-skapa/comment-page-3 /formation-scrum-product-owner-certifiante-francais.html
RedirectPermanent /formations-methodes-agiles/formation-product-owner-arlen-bankston/comment-page-3 /formation-scrum-product-owner-certifiante-anglais.html
RedirectPermanent /formations-methodes-agiles/formation-scrum-un-coach-en-pratique-veronique-messager-rota/comment-page-2 /formation-scrum-un-coach-en-pratique.html
RedirectPermanent /formations-java-jee/formation-java-performance-tuning-kirk-pepperdine/comment-page-1/formation-java-performance-tuning.html
RedirectPermanent /formations-java-quatrieme-trimestre /news.html
RedirectPermanent /formations-nosql /formations-techniques.html#formation-big-data
RedirectPermanent /un-nouveau-type-d%e2%80%99architecte-l%e2%80%99architecte-agile /news.html
RedirectPermanent /presentation-de-scrum /news.html
RedirectPermanent /event-contractualisation-agile /news.html
RedirectPermanent /certification-scrum /formations-methodes-agiles.html#certifications-scrum
RedirectPermanent /seminaire-developpement-offshore-et-agilite-l%e2%80%99huile-et-l%e2%80%99eau /news.html
RedirectPermanent /seminaire-developpement-offshore-et-agilite /news.html
RedirectPermanent /certification-scrum-product-owner-en-francais-animee-par-petra-skapa /formation-scrum-product-owner-certifiante-francais.html
RedirectPermanent /certification-scrum-a-paris-en-francais-par-petra-skapa /formations-methodes-agiles.html#certifications-scrum
RedirectPermanent /4-criteres-pour-bien-choisir-son-projet-agile-pilote /news.html
RedirectPermanent /formation-sur-la-qualite-logicielle-a-paris /news.html
RedirectPermanent /livre-blanc-qualite-logicielle-ecrit-par-frederic-dubois /news.html
RedirectPermanent /informations/page/6 /news.html
RedirectPermanent /rencontre-dsi-jeff-sutherland-fondateur-de-la-methode-agile-scrum /news.html
RedirectPermanent /un-americain-a-paris-par-frederic-doillon /news.html
RedirectPermanent /retrospective-formation-certifiante-scrummaster-par-fabrice-aimetti /news.html
RedirectPermanent /i%e2%80%99m-now-a-scrummaster-par-nicolas-martignole /news.html
RedirectPermanent /formation-scrummaster-par-jeff-sutherland-par-thomas-recloux /news.html
RedirectPermanent /informations/page/7 /a-propos.html
RedirectPermanent /extreme-programming-%e2%80%93-xp /formation-extreme-programming.html
RedirectPermanent /architecture-agile /news.html
RedirectPermanent /les-outils-de-gestion-de-projet-par-veronique-messager-rota /news.html
RedirectPermanent /a-propos-de-nous /a-propos.html
RedirectPermanent /certification-product-owner-animee-par-arlen-bankston /formation-scrum-product-owner-certifiante-anglais.html
RedirectPermanent /certification-scrummaster-animee-par-jeff-sutherland /formation-scrummaster-certifiante-anglais.html
RedirectPermanent /formation-scrummaster-par-jeff-sutherland-par-christian-trotobas /formation-scrummaster-certifiante-anglais.html
RedirectPermanent /formation-scrummaster-a-la-defense-par-david-andrianavalontsalama /formation-scrummaster-certifiante-anglais.html
RedirectPermanent /certification-scrummaster-par-laurent-morisseau /formation-scrummaster-certifiante-anglais.html
RedirectPermanent /wp-content/uploads/formation-scala-martin-odersky.pdf /programmes/programme-formation-scala.pdf
RedirectPermanent /wp-content/uploads/calendrier-des-formations-java-et-méthodes-agiles.pdf /catalogue-2013.pdf
RedirectPermanent /formations-methodes-agiles/formation-scrummaster-certifiante-en-francais-animee-par-petra-skapa/comment-page-7 /formation-scrummaster-certifiante-francais.html
RedirectPermanent /formations-methodes-agiles/formation-scrummaster-jeff-sutherland/comment-page-9 /formation-scrummaster-certifiante-anglais.html
RedirectPermanent /formations-methodes-agiles/formation-certifiante-product-owner-en-francais-animee-par-petra-skapa/comment-page-2 /formation-scrum-product-owner-certifiante-francais.html
RedirectPermanent /formations-methodes-agiles/formation-product-owner-arlen-bankston/comment-page-2 /formation-scrum-product-owner-certifiante-anglais.html
RedirectPermanent /formations-methodes-agiles/formation-scrum-un-coach-en-pratique-veronique-messager-rota/comment-page-1 /formation-scrum-un-coach-en-pratique.html
RedirectPermanent /wp-content/uploads/invitation-seminaire.pdf /news.html
RedirectPermanent /wp-content/uploads/formation-agile-software-craftmanship-robert-cecil-martin.pdf /programmes/programme-formation-tdd-software-craftsmanship.pdf
RedirectPermanent /formation-java-performance-tuning-a-sophia-antipolis /formation-java-performance-tuning.html
RedirectPermanent /just-deployit /news.html
RedirectPermanent /livre-gestion-de-projet-vers-les-methodes-agiles-de-veronique-messager-rota /news.html
RedirectPermanent /scrum-entretien-avec-jeff-sutherland-a-paris /news.html
RedirectPermanent /formations-methodes-agiles/formation-scrummaster-certifiante-en-francais-animee-par-petra-skapa/comment-page-6 /formation-scrummaster-certifiante-francais.html
RedirectPermanent /formations-methodes-agiles/formation-scrummaster-jeff-sutherland/comment-page-8 /formation-scrummaster-certifiante-anglais.html
RedirectPermanent /formations-methodes-agiles/formation-certifiante-product-owner-en-francais-animee-par-petra-skapa/comment-page-1 /formation-scrum-product-owner-certifiante-francais.html
RedirectPermanent /formations-methodes-agiles/formation-product-owner-arlen-bankston/comment-page-1 /formation-scrummaster-certifiante-anglais.html
RedirectPermanent /formations-methodes-agiles/formation-scrummaster-certifiante-en-francais-animee-par-petra-skapa/comment-page-5 /formation-scrummaster-certifiante-francais.html
RedirectPermanent /formations-methodes-agiles/formation-scrummaster-jeff-sutherland/comment-page-7 /formation-scrummaster-certifiante-anglais.html
RedirectPermanent /formations-methodes-agiles/formation-scrummaster-certifiante-en-francais-animee-par-petra-skapa/comment-page-4 /formation-scrummaster-certifiante-francais.html
RedirectPermanent /formations-methodes-agiles/formation-scrummaster-jeff-sutherland/comment-page-6 /formation-scrummaster-certifiante-anglais.html
RedirectPermanent /formations-methodes-agiles/formation-scrummaster-certifiante-en-francais-animee-par-petra-skapa/comment-page-3 /formation-scrummaster-certifiante-francais.html
RedirectPermanent /formations-methodes-agiles/formation-scrummaster-jeff-sutherland/comment-page-5 /formation-scrummaster-certifiante-anglais.html
RedirectPermanent /formations-methodes-agiles/formation-scrummaster-certifiante-en-francais-animee-par-petra-skapa/comment-page-2 /formation-scrummaster-certifiante-francais.html
RedirectPermanent /formations-methodes-agiles/formation-scrummaster-jeff-sutherland/comment-page-4 /formation-scrummaster-certifiante-anglais.html
RedirectPermanent /formations-methodes-agiles/formation-scrummaster-certifiante-en-francais-animee-par-petra-skapa/comment-page-1 /formation-scrummaster-certifiante-francais.html
RedirectPermanent /formations-methodes-agiles/formation-scrummaster-jeff-sutherland/comment-page-3 /formation-scrummaster-certifiante-anglais.html
RedirectPermanent /formations-methodes-agiles/formation-scrummaster-jeff-sutherland/comment-page-2 /formation-scrummaster-certifiante-anglais.html
RedirectPermanent /formations-methodes-agiles/formation-scrummaster-jeff-sutherland/comment-page-1 /formation-scrummaster-certifiante-anglais.html