
body {
	padding-top: 0px !important;
	font: 20px 'UbuntuRegular',Arial,sans-serif;
    color:#6d626b;
}

body header {
	background: url(../img/header.jpg) 0px 0px no-repeat;
	height: 165px;
	width: 100%;
	position: relative;
}

.container {
	position: relative;
}

body header .legend{
    font: 22px 'UbuntuLight',Arial,sans-serif;
    letter-spacing:5px;
	width: 80%;
	position: absolute;
	right: 10px;
	top: 120px;
	background-color: #330b2e;
	color: gray;
    opacity: 0.9;
	text-transform: uppercase;
	padding: 10px 0 10px 15px;
}

body header .packshot{
	background: url(../img/packshot.png) 0px 0px no-repeat;
	height: 400px;
	width: 270px;
	right: 86px;
	top: 25px;
	position: absolute;
}

.intro {
	position: relative;
}

.intro h1{
	background: url(../img/techtrends-logo.png) 0px 0px no-repeat;
	height: 60px;
	width: 360px;
	left: 100px;
	top: 5px;
	position: absolute;
}

.intro .text {
	height: 60px;
	width: 390px;
	left: 110px;
	top: 110px;
	position: absolute;
	font: 20px 'UbuntuLightItalic',Arial,sans-serif;
	font-weight: 600;
}

.timer-zone {
	position: absolute;
	right: 95px;
	bottom: 0px;
	top:390px;
    text-transform: uppercase;
    font: 11px 'UbuntuBold',Arial,sans-serif;

}

#defaultCountdown { 
    height: 60px;  
    text-align: center;
    background-color: rgb(0,187,234);
    color: white;
    padding: 10px;
    font: 12px 'UbuntuBold',Arial,sans-serif;  
}

.issue {
	left: 0px;
	top: 510px;
	position: absolute;
	width: 100%;
    background-color: rgb(241,240,238);
   margin:10px 0 0;
        overflow:hidden;
}
.issue h2 {
    font: 27px 'Ubuntu',Arial,sans-serif;
      background: url('../img/trust-bg.png');
	margin: 0px;
	background-color: rgba(0,0,0,0.8);
	color: gray;
	padding-left: 30px;
	padding-right: 10px;
	padding-top:8px;
	width: 240px;
    text-transform: uppercase;
}

.issue hr {
	margin: 0px;
	height: 7px;
	background-color: rgba(0,0,0,0.8);
          background: url('../img/trust-bg.png');
	border: 0px;
}

.issue h3 {
        font: 25px 'UbuntuLight',Arial,sans-serif;
	background-color: rgb(0,187,234);
	color: white;
	padding: 5px 0px 5px 30px;
	text-transform: uppercase;
	width: 300px;
}
.issue h4 {
	background-color: rgb(0,187,234);
	color: white;
	padding: 5px 0px 5px 30px;
	width: 270px;
	font: 18px 'UbuntuLightItalic',Arial,sans-serif;
}

         
li.list1 {list-style: square outside; color:rgb(0,187,234); }
.blacktext {color:#6d626b}

.myform{
margin-top:250px;
width:600px;
padding: 20px;
height: 75px;
}

#stylized{
background: url('../img/trust-bg.png');
}

#stylized h2{
background-color: rgb(0,187,234);
width: 130px;
margin-top:-58px;
margin-bottom: 22px;
margin-left: -20px;
font-size:16px;
text-transform: uppercase;
color:#fff;
padding: 10px;
}

#stylized input{
float:left;
font: 14px 'UbuntuLightItalic',Arial,sans-serif;
padding:5px 2px;
border:solid 1px #aacfe4;
width:200px;
margin:2px 0 20px 10px;
background-color: #eee;
border:solid 1px #fff;
}
#stylized button{
float:left;
font: 15px 'UbuntuLightItalic',Arial,sans-serif;
padding:8px 2px;
border:solid 1px #fff;
color: #fff;
width:100px;
margin:-2px 0 20px 29px;
background-color: rgb(0,187,234);
}


@font-face {
    font-family: 'UbuntuRegular';
    src: url('typo/Ubuntu-R-webfont.eot');
    src: url('typo/Ubuntu-R-webfont.eot?#iefix') format('embedded-opentype'),
         url('typo/Ubuntu-R-webfont.woff') format('woff'),
         url('typo/Ubuntu-R-webfont.ttf') format('truetype'),
         url('typo/Ubuntu-R-webfont.svg#UbuntuRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'UbuntuItalic';
    src: url('typo/Ubuntu-RI-webfont.eot');
    src: url('typo/Ubuntu-RI-webfont.eot?#iefix') format('embedded-opentype'),
         url('typo/Ubuntu-RI-webfont.woff') format('woff'),
         url('typo/Ubuntu-RI-webfont.ttf') format('truetype'),
         url('typo/Ubuntu-RI-webfont.svg#UbuntuItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'UbuntuBold';
    src: url('typo/Ubuntu-B-webfont.eot');
    src: url('typo/Ubuntu-B-webfont.eot?#iefix') format('embedded-opentype'),
         url('typo/Ubuntu-B-webfont.woff') format('woff'),
         url('typo/Ubuntu-B-webfont.ttf') format('truetype'),
         url('typo/Ubuntu-B-webfont.svg#UbuntuBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'UbuntuBoldItalic';
    src: url('typo/Ubuntu-BI-webfont.eot');
    src: url('typo/Ubuntu-BI-webfont.eot?#iefix') format('embedded-opentype'),
         url('typo/Ubuntu-BI-webfont.woff') format('woff'),
         url('typo/Ubuntu-BI-webfont.ttf') format('truetype'),
         url('typo/Ubuntu-BI-webfont.svg#UbuntuBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'UbuntuLight';
    src: url('typo/Ubuntu-L-webfont.eot');
    src: url('typo/Ubuntu-L-webfont.eot?#iefix') format('embedded-opentype'),
         url('typo/Ubuntu-L-webfont.woff') format('woff'),
         url('typo/Ubuntu-L-webfont.ttf') format('truetype'),
         url('Ubuntu-L-webfont.svg#UbuntuLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'UbuntuLightItalic';
    src: url('typo/Ubuntu-LI-webfont.eot');
    src: url('typo/Ubuntu-LI-webfont.eot?#iefix') format('embedded-opentype'),
         url('typo/Ubuntu-LI-webfont.woff') format('woff'),
         url('typo/Ubuntu-LI-webfont.ttf') format('truetype'),
         url('Ubuntu-LI-webfont.svg#UbuntuLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'UbuntuMedium';
    src: url('typo/Ubuntu-M-webfont.eot');
    src: url('typo/Ubuntu-M-webfont.eot?#iefix') format('embedded-opentype'),
         url('typo/Ubuntu-M-webfont.woff') format('woff'),
         url('typo/Ubuntu-M-webfont.ttf') format('truetype'),
         url('typo/Ubuntu-M-webfont.svg#UbuntuMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'UbuntuMediumItalic';
    src: url('typo/Ubuntu-MI-webfont.eot');
    src: url('typo/Ubuntu-MI-webfont.eot?#iefix') format('embedded-opentype'),
         url('typo/Ubuntu-MI-webfont.woff') format('woff'),
         url('typo/Ubuntu-MI-webfont.ttf') format('truetype'),
         url('Ubuntu-MI-webfont.svg#UbuntuMediumItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'UbuntuCondensedRegular';
    src: url('typo/Ubuntu-C-webfont.eot');
    src: url('typo/Ubuntu-C-webfont.eot?#iefix') format('embedded-opentype'),
         url('typo/Ubuntu-C-webfont.woff') format('woff'),
         url('typo/Ubuntu-C-webfont.ttf') format('truetype'),
         url('typo/Ubuntu-C-webfont.svg#UbuntuCondensedRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
