<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta name="description" content="Lateral On-Scroll Sliding with jQuery - Timeline Example with CSS3" />
    <meta name="keywords" content="lateral, sides, slide, scroll, jquery, css3, timeline" />
    <meta name="author" content="Codrops" />
    <link rel="shortcut icon" href="../favicon.ico"> 
    <link rel="stylesheet" type="text/css" href="css/demo.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link href='http://fonts.googleapis.com/css?family=Kelly+Slab' rel='stylesheet' type='text/css' />
    <title>Xebia Training FR - {{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css"/>
    <link rel="shortcut icon" type="image/png" href="images/faviconXebia.png"/>
    <link rel="stylesheet" href="stylesheets/main.css" type="text/css" media="screen" />
    <script src="javascripts/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="javascripts/modernizr.custom.11333.js"></script>    
</head>
<body>
<div id="prompt"></div>
<div class="navbar navbar-static">
    <div class="navbar-inner">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="row">
                        <div class="span2">
                            <a id="logo" class="brand" href="index.html"></a>
                        </div>
                        <div class="span9" id="navbar">
                            <ul id="mega-menu-1" class="mega-menu">
                                <li class="{% if page.title contains 'About us' %}active{% endif %}"><a href="a-propos.html">A propos</a>
                                <ul>
                                        <li><a href="inscription.html">S'inscrire à une formation</a></li>
                                        <li><a href="animateurs.html">Formateurs</a></li>
                                        <li><a href="comment-financer-sa-formation.html">Financer sa formaton</a></li>
                                        <li><a href="formations-intra-entreprise.html">Formations intra-entreprise</a></li>   
                                        <li><a href="devenir-scrum-master.html">Devenir Scrum Master</a></li>
                                        <li><a href="xebia-essentials.html">Xebia Essentials</a></li>
                                        <li><a href="mentions-legales.html">Mentions légales</a></li>
                                        <li><a href="conditions-generales-de-vente.html">Conditions générales</a></li>
                                    </ul>
                                </li>
                                <li class="{% if page.title contains 'Technologies' %}active{% endif %}"><a
                                        href="formations-techniques.html">Formations techniques</a>
                                    <ul>
                                        <li><a href="formation-java-performance-tuning.html">Java performance tuning</a></li>
                                        <li><a href="formation-java-ee-6.html">Architecture d’aujourd’hui avec Java EE 6</a></li>
                                        <li><a href="formation-developpeur-java-moderne.html">Le développeur Java moderne</a></li>
                                        <li><a href="formation-mongodb.html">MongoDB avec 10Gen en français</a></li>
                                        <li><a href="formation-hadoop-certifiante-developpeurs.html">Hadoop Développeurs certifiante</a></li>
                                        <li><a href="formation-hadoop-certifiante-administrateurs.html">Hadoop Administrateurs certifiante</a></li>
                                        <li><a href="formation-scala.html">Scala avec Typesafe</a></li>
                                        <li><a href="formation-rest.html">Formation REST</a></li>
                                        <li><a href="formation-bdd.html">BDD (Behaviour-Driven Development)</a></li>
                                        <li><a href="formation-applications-java-production.html">Applications Java prêtes pour la production</a></li>
                                        <li><a href="formation-tdd-software-craftsmanship.html">TDD Software craftsmanship</a></li>
                                        <li><a href="formation-troubleshooting-en-java.html">Troubleshooting en Java</a></li>
                                        <li><a href="formation-maven.html">Maven</a></li>
                                        <li><a href="formation-html-5.html">HTML 5</a></li>
                                        <li><a href="formation-devops-pour-java.html">DevOps pour Java</a></li>
                                        <li><a href="formation-cloud-computing.html">Cloud Computing Java: de Amazon EC2 au Private Cloud</a></li>
                                        <li><a href="formation-java-concurrency-specialist.html">Java Concurrency specialist</a></li>
                                        <li><a href="formation-android.html">Android</a></li>
                                    </ul>
                                </li>

                                <li class="{% if page.title contains 'Valeurs' %}active{% endif %}"><a
                                        href="formations-methodes-agiles.html">Formations Agiles</a>

                                    <ul>
                                        <li><a href="formation-scrummaster-certifiante-francais.html">ScrumMaster certifiante en français</a></li>
                                        <li><a href="formation-scrummaster-certifiante-anglais.html">ScrumMaster certifiante avec Jeff Sutherland</a></li>
                                        <li><a href="formation-scrum-product-owner-certifiante-francais.html">Scrum Product Owner certifiante en français</a></li>
                                        <li><a href="formation-scrum-product-owner-certifiante-anglais.html">Scrum Product Owner certifiante en anglais</a></li>
                                        <li><a href="formation-scrum-product-owner-intra-entreprise.html">Scrum Product Owner en intra-entreprise</a></li>
                                        <li><a href="formation-scrummaster-academy.html">ScrumMaster Academy</a></li>
                                        <li><a href="formation-scrum-product-owner-academy.html">Scrum Product Owner Academy</a></li>
                                        <li><a href="formation-business-agility-it-leaders.html">Faster organisations : Business Agility for IT Leaders</a></li>
                                         <li><a href="formation-user-stories-to-acceptance-tests.html">User Stories to Acceptance Tests</a></li>
                                         <li><a href="formation-introduction-a-scrum.html">Introduction à Scrum (1 journée)</a></li>
                                         <li><a href="formation-scrum-intra-entreprise.html">Scrum en intra-entreprise</a></li>
                                        <li><a href="formation-agile-managers.html">Agile pour Managers</a></li>
                                        <li><a href="formation-scrum-un-coach-en-pratique.html">ScrumMaster : Un coach en pratique</a></li>
                                        <li><a href="formation-extreme-programming.html">eXtreme Programming</a></li>
                                        <li><a href="formation-kanban.html">Kanban</a></li>
                                        <li><a href="formation-strategicplay-lego-serious-play.html">StrategicPlay with Lego Serious Play</a></li>
                                        <li><a href="formation-architecture-lean.html">Architecture Lean</a></li>
                                        <li><a href="formation-developpement-logiciel-avec-le-lean.html">Développement logiciel avec le lean</a></li> 
                                    </ul>
                                </li>
                                <li class="{% if page.title contains 'Trainers' %}active{% endif %}"><a href="coaching-agile.html">Coaching</a>
                                </li>
                                <li class="{% if page.title contains 'Trainers' %}active{% endif %}"><a href="news.html">News</a>
                                </li>
                                <li class="{% if page.title contains 'Trainers' %}active{% endif %}"><a href="promos.html">Promos</a>
                                </li>
                                <li class="{% if page.title contains 'Contact' %}active{% endif %}"><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mail-fixed">
              <a href="http://www.matthieu-legardeur.fr/test/machform/view.php?id=12858" title="Contactez-nous" class="lytebox">@</a>
</div>
{{ content }}
<footer>
    <div class="footer-inner">
        <div class="container">
            <div class="row-fluid">
                <div class="span4">
                    <div class="column leftcolumn">
                        <h2>XEBIA FRANCE</h2>
                            <address>
                              156 boulevard Haussmann<a href=""><img
                                src="images/marker.png" alt="Hamilton House, Mabledon Place,"></a><br/>
                              75008 PARIS 
                            </address>                     
                            +33 1 53 89 99 99<br/>
                            <a href="mailto:info@xebia-training.fr">info@xebia-training.fr</a>
                    </div>
                </div>
                <div class="span4">
                    <div class="column midcolumn">
                        <h2>XEBIA</h2>
                        <ul>
                           <li><a href="http://xebia.fr">Site Xebia France</a></li>  
                            <li><a href="http://blog.xebia.fr">Blog Xebia France</a></li>  
                            <li><a href="http://studio.xebia.fr">Xebia Studio France</a></li>          
                            <li><a href="http://training.xebia.com">Xebia Training Nederlands</a></li>
                            <li><a href="http://training.xebia.co.uk">Xebia Training UK</a></li>
                            <li><a href="http://xebialabs.com">Xebia Labs</a></li>
                            <li><a href="http://www.xebia.in">Xebia Inde</a></li>
                        </ul>
                    </div>
                </div>
                <div class="span4">
                    <div class="column righcolumn">
                        <h2>FOLLOW-US !</h2>
                        <a href="http://blog.xebia.fr"><b>Nous rejoindre sur notre blog</b></a>
                        <div id="social-bar">
                            <a href="http://www.linkedin.com/company/xebia-training/"><img src="images/linkedin.png" alt="linkedin"></a>
                        </div>
                    </div>
                </div>
            </div>      
        </div>
    </div>
</footer>
  <!--[if IE]>
    <script type="text/javascript" 
     src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>

    <style>
     .chromeFrameInstallDefaultStyle {
       
       width: 100%; /* default is 800px */
       border: 5px solid blue;
       z-index: 10;
     }
    </style>
    
    <script>
     window.attachEvent("onload", function() {
       CFInstall.check({
         mode:"overlay",
         node: "prompt"
       });
     });
    </script>
  <![endif]-->

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-34012996-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
    <script type="text/javascript">
    $(document).ready(function($){
        $('#mega-menu-1').dcMegaMenu({
            rowItems: '4',
            speed: 'fast',
            effect: 'fade',
            fullWidth: true
        });
    });
    </script>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script type="text/javascript">
    $(function() {
        /* For zebra striping */
        $("table tr:nth-child(odd)").addClass("odd-row");
        /* For cell text alignment */
        $("table td:first-child, table th:first-child").addClass("first");
        /* For removing the last border */
        $("table td:last-child, table th:last-child").addClass("last");
    });
    </script>

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="javascripts/jquery.easing.1.3.js"></script>
        <script type="text/javascript">
        $(function() {

            var $sidescroll = (function() {
                    
                    // the row elements
                var $rows           = $('#ss-container > div.ss-row'),
                    // we will cache the inviewport rows and the outside viewport rows
                    $rowsViewport, $rowsOutViewport,
                    // navigation menu links
                    $links          = $('#ss-links > a'),
                    // the window element
                    $win            = $(window),
                    // we will store the window sizes here
                    winSize         = {},
                    // used in the scroll setTimeout function
                    anim            = false,
                    // page scroll speed
                    scollPageSpeed  = 2000 ,
                    // page scroll easing
                    scollPageEasing = 'easeInOutExpo',
                    // perspective?
                    hasPerspective  = false,
                    
                    perspective     = hasPerspective && Modernizr.csstransforms3d,
                    // initialize function
                    init            = function() {
                        
                        // get window sizes
                        getWinSize();
                        // initialize events
                        initEvents();
                        // define the inviewport selector
                        defineViewport();
                        // gets the elements that match the previous selector
                        setViewportRows();
                        // if perspective add css
                        if( perspective ) {
                            $rows.css({
                                '-webkit-perspective'           : 600,
                                '-webkit-perspective-origin'    : '50% 0%'
                            });
                        }
                        // show the pointers for the inviewport rows
                        $rowsViewport.find('a.ss-circle').addClass('ss-circle-deco');
                        // set positions for each row
                        placeRows();
                        
                    },
                    // defines a selector that gathers the row elems that are initially visible.
                    // the element is visible if its top is less than the window's height.
                    // these elements will not be affected when scrolling the page.
                    defineViewport  = function() {
                    
                        $.extend( $.expr[':'], {
                        
                            inviewport  : function ( el ) {
                                if ( $(el).offset().top < winSize.height ) {
                                    return true;
                                }
                                return false;
                            }
                        
                        });
                    
                    },
                    // checks which rows are initially visible 
                    setViewportRows = function() {
                        
                        $rowsViewport       = $rows.filter(':inviewport');
                        $rowsOutViewport    = $rows.not( $rowsViewport )
                        
                    },
                    // get window sizes
                    getWinSize      = function() {
                    
                        winSize.width   = $win.width();
                        winSize.height  = $win.height();
                    
                    },
                    // initialize some events
                    initEvents      = function() {
                        
                        // navigation menu links.
                        // scroll to the respective section.
                        $links.on( 'click.Scrolling', function( event ) {
                            
                            // scroll to the element that has id = menu's href
                            $('html, body').stop().animate({
                                scrollTop: $( $(this).attr('href') ).offset().top
                            }, scollPageSpeed, scollPageEasing );
                            
                            return false;
                        
                        });
                        
                        $(window).on({
                            // on window resize we need to redefine which rows are initially visible (this ones we will not animate).
                            'resize.Scrolling' : function( event ) {
                                
                                // get the window sizes again
                                getWinSize();
                                // redefine which rows are initially visible (:inviewport)
                                setViewportRows();
                                // remove pointers for every row
                                $rows.find('a.ss-circle').removeClass('ss-circle-deco');
                                // show inviewport rows and respective pointers
                                $rowsViewport.each( function() {
                                
                                    $(this).find('div.ss-left')
                                           .css({ left   : '0%' })
                                           .end()
                                           .find('div.ss-right')
                                           .css({ right  : '0%' })
                                           .end()
                                           .find('a.ss-circle')
                                           .addClass('ss-circle-deco');
                                
                                });
                            
                            },
                            // when scrolling the page change the position of each row  
                            'scroll.Scrolling' : function( event ) {
                                
                                // set a timeout to avoid that the 
                                // placeRows function gets called on every scroll trigger
                                if( anim ) return false;
                                anim = true;
                                setTimeout( function() {
                                    
                                    placeRows();
                                    anim = false;
                                    
                                }, 10 );
                            
                            }
                        });
                    
                    },
                    // sets the position of the rows (left and right row elements).
                    // Both of these elements will start with -50% for the left/right (not visible)
                    // and this value should be 0% (final position) when the element is on the
                    // center of the window.
                    placeRows       = function() {
                        
                            // how much we scrolled so far
                        var winscroll   = $win.scrollTop(),
                            // the y value for the center of the screen
                            winCenter   = winSize.height / 2 + winscroll;
                        
                        // for every row that is not inviewport
                        $rowsOutViewport.each( function(i) {
                            
                            var $row    = $(this),
                                // the left side element
                                $rowL   = $row.find('div.ss-left'),
                                // the right side element
                                $rowR   = $row.find('div.ss-right'),
                                // top value
                                rowT    = $row.offset().top;
                            
                            // hide the row if it is under the viewport
                            if( rowT > winSize.height + winscroll ) {
                                
                                if( perspective ) {
                                
                                    $rowL.css({
                                        '-webkit-transform' : 'translate3d(-75%, 0, 0) rotateY(-90deg) translate3d(-75%, 0, 0)',
                                        'opacity'           : 0
                                    });
                                    $rowR.css({
                                        '-webkit-transform' : 'translate3d(75%, 0, 0) rotateY(90deg) translate3d(75%, 0, 0)',
                                        'opacity'           : 0
                                    });
                                
                                }
                                else {
                                
                                    $rowL.css({ left        : '-50%' });
                                    $rowR.css({ right       : '-50%' });
                                
                                }
                                
                            }
                            // if not, the row should become visible (0% of left/right) as it gets closer to the center of the screen.
                            else {
                                    
                                    // row's height
                                var rowH    = $row.height(),
                                    // the value on each scrolling step will be proporcional to the distance from the center of the screen to its height
                                    factor  = ( ( ( rowT + rowH / 2 ) - winCenter ) / ( winSize.height / 2 + rowH / 2 ) ),
                                    // value for the left / right of each side of the row.
                                    // 0% is the limit
                                    val     = Math.max( factor * 50, 0 );
                                    
                                if( val <= 0 ) {
                                
                                    // when 0% is reached show the pointer for that row
                                    if( !$row.data('pointer') ) {
                                    
                                        $row.data( 'pointer', true );
                                        $row.find('.ss-circle').addClass('ss-circle-deco');
                                    
                                    }
                                
                                }
                                else {
                                    
                                    // the pointer should not be shown
                                    if( $row.data('pointer') ) {
                                        
                                        $row.data( 'pointer', false );
                                        $row.find('.ss-circle').removeClass('ss-circle-deco');
                                    
                                    }
                                    
                                }
                                
                                // set calculated values
                                if( perspective ) {
                                    
                                    var t       = Math.max( factor * 75, 0 ),
                                        r       = Math.max( factor * 90, 0 ),
                                        o       = Math.min( Math.abs( factor - 1 ), 1 );
                                    
                                    $rowL.css({
                                        '-webkit-transform' : 'translate3d(-' + t + '%, 0, 0) rotateY(-' + r + 'deg) translate3d(-' + t + '%, 0, 0)',
                                        'opacity'           : o
                                    });
                                    $rowR.css({
                                        '-webkit-transform' : 'translate3d(' + t + '%, 0, 0) rotateY(' + r + 'deg) translate3d(' + t + '%, 0, 0)',
                                        'opacity'           : o
                                    });
                                
                                }
                                else {
                                    
                                    $rowL.css({ left    : - val + '%' });
                                    $rowR.css({ right   : - val + '%' });
                                    
                                }
                                
                            }   
                        
                        });
                    
                    };
                
                return { init : init };
            
            })();
            
            $sidescroll.init();
            
        });
        </script>

</body>
</html>
