<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Xebia Training FR - {{ page.title }}</title>
    <meta name="google-site-verification" content="CrJVtfbD9aL-n5VRLIDM7Bvu4li2tp1Q_2RlQT1hzSk" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css"/>
    <link rel="shortcut icon" type="image/png" href="/images/faviconXebia.png"/>
    <link rel="stylesheet" href="/stylesheets/main.css" type="text/css" media="screen" />
    <script src="/javascripts/jquery-1.7.1.min.js"></script>
</head>
<body>
<div id="prompt"></div>
<div class="navbar navbar-static">
    <div class="navbar-inner">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="row">
                        <div class="span2">
                            <a id="logo" class="brand" href="http://training.xebia.fr/index.html"></a>
                        </div>
                        <div class="oe_wrapper">
            <div id="oe_overlay" class="oe_overlay"></div>
            <ul id="oe_menu" class="oe_menu">
                <li><a href="http://training.xebia.fr/a-propos.html">A propos</a>
                    <div style="left:-5px;">
                        <ul>
                            <li class="oe_heading">Infos pratiques</li>
                            <li><a href="http://training.xebia.fr/inscription.html">S'inscrire à une formation</a></li>
                                        <li><a href="http://training.xebia.fr/comment-financer-sa-formation.html">Financer sa formaton</a></li>
                                        <li><a href="http://training.xebia.fr/formations-intra-entreprise.html">Formations intra-entreprise</a></li>   
                                        <li><a href="devenir-scrum-master.html">Devenir Scrum Master</a></li>
                                        <li><a href="http://training.xebia.fr/xebia-essentials.html">Xebia Essentials</a></li>
                                        <li><a href="http://training.xebia.fr/mentions-legales.html">Mentions légales</a></li>
                                        <li><a href="http://training.xebia.fr/conditions-generales-de-vente.html">Conditions générales</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="http://training.xebia.fr/formations-techniques.html">Formations techniques</a>
                    <div style="left:-81px;"><!-- -112px -->
                        <ul>
                            <li class="oe_heading"><a href="http://training.xebia.fr/formations-java-jee/formations-java.html">Formations Java JEE</a></li>
                            <li><a href="http://training.xebia.fr/formations-java-jee/formation-java-performance-tuning.html">Formation Java performance tuning</a></li>
                                        <li><a href="http://training.xebia.fr/formations-java-jee/formation-java-ee-6.html">Formation Architecture d’aujourd’hui avec Java EE 6</a></li>
                                        <li><a href="http://training.xebia.fr/formations-java-jee/formation-developpeur-java-moderne.html">Formation le Développeur Java moderne</a></li>
                                        <li><a href="http://training.xebia.fr/formations-java-jee/formation-scala.html">Formation Scala avec Typesafe</a></li>
                                        <li><a href="http://training.xebia.fr/formations-java-jee/formation-rest.html">Formation REST</a></li>
                                        <li><a href="../formations-java-jee/formation-applications-java-production.html">Formation Applications Java prêtes pour la production</a></li>
                                        <li><a href="http://training.xebia.fr/formations-java-jee/formation-tdd-software-craftsmanship.html">Formation TDD Software Craftsmanship</a></li>
                                        <li><a href="http://training.xebia.fr/formations-java-jee/formation-troubleshooting-en-java.html">Formation Troubleshooting en Java</a></li>
                                        <li><a href="http://training.xebia.fr/formations-java-jee/formation-maven.html">Formation Maven</a></li>
                                        <li><a href="http://training.xebia.fr/formations-java-jee/formation-devops-pour-java.html">Formation DevOps pour Java</a></li>
                                        <li><a href="../formations-java-jee/formation-cloud-computing.html">Formation Cloud Computing Java: de Amazon EC2 au Private Cloud</a></li>
                                        <li><a href="http://training.xebia.fr/formations-java-jee/formation-java-concurrency-specialist.html">Formation Java concurrency specialist</a></li>
                        </ul>
                        <ul>
                            <li class="oe_heading">Formations Web</li>
                            <li><a href="http://training.xebia.fr/formations-web/formation-html-5.html">Formation HTML 5</a></li>
                        </ul>
                        <ul>
                            <li class="oe_heading">Formations Big Data & NoSQL</li>
                          <li><a href="http://training.xebia.fr/formations-big-data-nosql/formation-mongodb.html">Formation MongoDB avec 10Gen en français</a></li>
                        <li><a href="http://training.xebia.fr/formations-big-data-nosql/formation-hadoop-certifiante-developpeurs.html">Formation Hadoop développeurs certifiante</a></li>
                        <li><a href="http://training.xebia.fr/formations-big-data-nosql/formation-hadoop-certifiante-administrateurs.html">Formation Hadoop administrateurs certifiante</a></li>
                        </ul>
                        <ul>
                            <li class="oe_heading">Formations Mobilité</li>
                            <li><a href="http://training.xebia.fr/formations-mobiles/formation-android.html">Formation Android</a></li>
                        </ul>
                        <ul>
                            <li class="oe_heading">Formations Java Essentials</li>
                            <li><a href="http://training.xebia.fr/formations-java-jee/formation-java-fondamentaux-1-jour.html">Formation "Les fondamentaux Java niveau 1" 1 journée avec José Paumard</a></li>
                            <li><a href="http://training.xebia.fr/formations-java-jee/formation-java-fondamentaux-2-jours.html">Formation "Les fondamentaux Java niveau 1" 2 jours avec José Paumard</a></li>
                            <li><a href="http://training.xebia.fr/formations-java-jee/formation-java-fondamentaux-2.html">Formation "les fondamentaux Java niveau 2" 1 journée avec José Paumard</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="http://training.xebia.fr/formations-methodes-agiles.html">Formations Agiles</a>
                    <div style="left:-249px;">
                        <ul>
                            <li class="oe_heading">Formations Méthodes Agiles</li>
                                        <li><a href="http://training.xebia.fr/formation-business-agility-it-leaders.html">Formation Faster organisations : Business Agility for IT Leaders</a></li>
                                         <li><a href="http://training.xebia.fr/certification-management-3.0.html">Certification Management 3.0</a></li>
                                         <li><a href="http://training.xebia.fr/formation-user-stories-to-acceptance-tests.html">Formation User Stories to Acceptance Tests</a></li>
                                         <li><a href="http://training.xebia.fr/formation-introduction-a-scrum.html">Formation Introduction à Scrum (1 journée)</a></li>
                                         <li><a href="http://training.xebia.fr/formation-scrum-intra-entreprise.html">Formation Scrum en intra-entreprise</a></li>
                                        <li><a href="http://training.xebia.fr/formation-agile-managers.html">Formation Agile pour Managers</a></li>
                                        <li><a href="http://training.xebia.fr/formation-scrum-un-coach-en-pratique.html">Formation ScrumMasters, devenez le coach de votre équipe !</a></li>
                                        <li><a href="http://training.xebia.fr/formation-extreme-programming.html">Formation EXtreme Programming</a></li>
                                        <li><a href="http://training.xebia.fr/formation-savoir-rediger-des-user-stories.html">Formation Savoir rédiger des User stories</a></li>
                                        <li><a href="http://training.xebia.fr/formation-specifications-executables.html">Formation les spécifications exécutables</a></li>
                                        <li><a href="http://training.xebia.fr/formation-estimation-et-planification-agile.html">Formation Estimation et planification Agile</a></li>
                                        <li><a href="http://training.xebia.fr/formation-construire-une-equipe-ui-agile.html">Formation Construire une équipe UI Agile</a></li>
                                        <li><a href="http://training.xebia.fr/formation-faire-emerger-son-business-model-agile.html">Formation Faire émerger son business model Agile</a></li>
                                        <li><a href="http://training.xebia.fr/formation-agile-games.html">Formation Agile games</a></li>
                        </ul>
                        <ul>
                            <li class="oe_heading">Certifications Scrum</li>
                            <li><a href="http://training.xebia.fr/formation-scrummaster-certifiante-francais.html">Certificaiton ScrumMaster certifiante en français</a></li>
                                        <li><a href="http://training.xebia.fr/formation-scrummaster-certifiante-anglais.html">Certificaiton ScrumMaster certifiante en anglais</a></li>
                                        <li><a href="http://training.xebia.fr/formation-scrum-product-owner-certifiante-francais.html">Certification Scrum Product Owner en français</a></li>
                                        <li><a href="http://training.xebia.fr/formation-scrum-product-owner-certifiante-anglais.html">Certification Scrum Product Owner en anglais</a></li>
                        </ul>
                        <ul>
                        <li class="oe_heading">Formations Kanban</li>
                                        <li><a href="http://training.xebia.fr/formation-kanban.html">Formation Kanban (Avec Lean Kanban University)</a></li>
                                        <li><a href="http://training.xebia.fr/formation-kanban-management-visuel.html">Formation Kanban Management Visuel</a></li>
                                        <li><a href="http://training.xebia.fr/formation-bdd-kanban.html">Formation BDD (Behaviour-Driven Development) & Kanban</a></li>
                        </ul>
                        <ul>
                        <li class="oe_heading">Formations Lean</li>
                                        <li><a href="http://training.xebia.fr/formation-architecture-lean.html">Formation Architecture Lean</a></li>
                                        <li><a href="http://training.xebia.fr/formation-developpement-logiciel-avec-le-lean.html">Formation Développement logiciel avec le Lean</a></li> 
                        </ul>
                        <ul>
                            <li class="oe_heading">Formations Xebia Academy</li>
                                <li><a href="http://training.xebia.fr/formation-scrummaster-academy.html">Formation ScrumMaster Academy</li>
                                <li><a href="http://training.xebia.fr/formation-scrum-product-owner-academy.html">Formation Scrum Product Owner Academy </a></li>
                                 <li><a href="http://training.xebia.fr/formation-coach-academy.html">Formation Coach Academy</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="http://training.xebia.fr/xebia-academy.html">Xebia Academy</a>
                    <div style="left:-386px;">
                        <ul class="oe_full">
                            <li class="oe_heading">Xebia Academy: La nouvelle offre de formation de Xebia</li>
                            <li>Xebia Academy est une formation de terrain qui favorise l’apprentissage en lieu et place des cours théoriques. Elle 
utilise des médias modernes pour proposer une plate-forme d’apprentissage de nouvelle génération. Les stagiaires participent de manière active à des activités de terrain aux travers d’ateliers innovants en rapport avec les problématiques qu’ils rencontrent dans leurs missions quotidiennes. Ces sujets sont abordés en mettant les participants dans des contextes réels, ils bénéficient des retours 
d’expérience de nos formateurs. La Xebia Academy se décline en trois cours pour former les élites de l'agilité :</li>
                        </ul>
                        <ul class="oe_full">
                            <li class="oe_heading">Formations Xebia Academy</li>
                            <li><a href="http://training.xebia.fr/formation-scrummaster-academy.html">ScrumMaster Academy</li>
                            <li><a href="http://training.xebia.fr/formation-scrum-product-owner-academy.html">Scrum Product Owner Academy </a></li>
                            <li><a href="http://training.xebia.fr/formation-coach-academy.html">Coach Academy</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="http://training.xebia.fr/coaching-agile.html">Coaching Agile</a>
                    <div style="left:-495px;">
                        <ul class="oe_full">
                            <li class="oe_heading">Coaching Agile Xebia</li>
                            <li>Un coach Agile Xebia vous permet de mettre en oeuvre les pratiques Agile au sein de votre 
entreprise avec un haut niveau d’expertise dans son domaine. En complément, Il transmet 
des conseils et des retours d’expérience auprès des équipes de réalisation, de direction 
et des métiers. Son expertise et sa vision globale permettent par la même occasion de 
comprendre concrètement comment l’Agilité peut aider votre organisation à être réactive 
face à l’évolution des marchés. Etre accompagner d’un coach Xebia c’est le droit à l’essai 
de se laisser convaincre.</li>
                        </ul>
                    </div>
                </li>
                <li><a href="http://training.xebia.fr/promos.html">Promos</a>
                    <div style="left:-611px;">
                        <ul>
                            <li class="oe_heading">Certifications Hadoop</li>
                            <li><a href="http://training.xebia.fr/formations-big-data-nosql/formation-hadoop-certifiante-developpeurs.html">Formation Hadoop Développeurs certifiante avec Cloudera du 19 au 22 novembre au tarif de 2495€ HT au lieu de 2695€ HT</a></li>
                        </ul>
                        <ul>
                            <li class="oe_heading">Certifications Scrum</li>
                            <li><a href="http://training.xebia.fr/formation-scrummaster-certifiante-francais.html">Formation ScrumMaster certifiante en français animée par Petra Skapa les 21 et 22 janvier 2013 au tarif de 1 250€ HT au lieu de 1 500€ HT</a></li>
                             <li><a href="http://training.xebia.fr/formation-scrum-product-owner-certifiante-francais.html">Formation Scrum Product Owner certifiante en français animée par Petra Skapa les 28 et 29 janvier 2013 au tarif de 1 250€ HT au lieu de 1 500€ HT</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="http://training.xebia.fr/news.html">News</a>
                <li><a href="http://training.xebia.fr/formateurs.html">Nos formateurs</a>
                <li><a href="http://training.xebia.fr/contact.html">Contact</a></li>
                </li>
            </ul>   
        </div>
    </div>
        <div class="box-top-nav">
        <a href="http://training.xebia.fr/catalogue-xebia-training-2013.pdf" class="learnmore-top">Télécharger notre catalogue 2013</a>
                </div>
                <div class="box-top-nav-1">
        <p>Téléphone : +33 (0)1 53 89 99 99</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="mail-fixed">
              <a href="http://www.matthieu-legardeur.fr/test/machform/view.php?id=12858" title="Contactez-nous" class="lytebox">@</a>
</div>
{{ content }}
<footer>
    <div class="footer-inner">
        <div class="container">
            <div class="row-fluid">
                <div class="span4">
                    <div class="column leftcolumn">
                        <h2>XEBIA FRANCE</h2>
                            <address>
                              156 boulevard Haussmann<br/>
                              75008 PARIS 
                            </address>                     
                            +33 1 53 89 99 99<br/>
                            <a href="mailto:info@xebia-training.fr">info@xebia-training.fr</a>
                    </div>
                </div>
                <div class="span4">
                    <div class="column midcolumn">
                        <h2>XEBIA</h2>
                        <ul>
                            <li><a href="http://xebia.fr">Site Xebia France</a></li>  
                            <li><a href="http://blog.xebia.fr">Blog Xebia France</a></li>  
                            <li><a href="http://studio.xebia.fr">Xebia Studio France</a></li>          
                            <li><a href="http://training.xebia.com">Xebia Training Nederlands</a></li>
                            <li><a href="http://training.xebia.co.uk">Xebia Training UK</a></li>
                            <li><a href="http://xebialabs.com">Xebia Labs</a></li>
                            <li><a href="http://www.xebia.in">Xebia Inde</a></li>
                        </ul>
                    </div>
                </div>
                <div class="span4">
                    <div class="column righcolumn">
                        <h2>SUIVEZ-NOUS !</h2>
                        <a href="http://blog.xebia.fr"><b>Suivez-nous sur le blog xebia</b></a>
                        <div id="social-bar">
                            <a href="http://www.linkedin.com/company/xebia-training/"><img src="/images/linkedin.png" alt="linkedin"></a>
                        </div>
                    </div>
                </div>
            </div>      
        </div>
    </div>
</footer>
  <!--[if IE]>
    <script type="text/javascript" 
     src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>

    <style>
     .chromeFrameInstallDefaultStyle {
       
       width: 100%; /* default is 800px */
       border: 5px solid blue;
       z-index: 10;
     }
    </style>
    
    <script>
     window.attachEvent("onload", function() {
       CFInstall.check({
         mode:"overlay",
         node: "prompt"
       });
     });
    </script>
  <![endif]-->

<script type="text/javascript">

 var _gaq = _gaq || [];
 _gaq.push(['_setAccount', 'UA-35612631-1']);
 _gaq.push(['_trackPageview']);

 (function() {
   var ga = document.createElement('script'); ga.type =
'text/javascript'; ga.async = true;
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' :
'http://www') + '.google-analytics.com/ga.js';
   var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(ga, s);
 })();

</script>
    <script type="text/javascript">
    $(document).ready(function($){
        $('#mega-menu-1').dcMegaMenu({
            rowItems: '4',
            speed: 'fast',
            effect: 'fade',
            fullWidth: true
        });
    });
    </script>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script type="text/javascript">
    $(function() {
        /* For zebra striping */
        $("table tr:nth-child(odd)").addClass("odd-row");
        /* For cell text alignment */
        $("table td:first-child, table th:first-child").addClass("first");
        /* For removing the last border */
        $("table td:last-child, table th:last-child").addClass("last");
    });
    </script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
        <script type="text/javascript">
            $(function() {
                var $oe_menu        = $('#oe_menu');
                var $oe_menu_items  = $oe_menu.children('li');
                var $oe_overlay     = $('#oe_overlay');

                $oe_menu_items.bind('mouseenter',function(){
                    var $this = $(this);
                    $this.addClass('slided selected');
                    $this.children('div').css('z-index','9999').stop(true,true).slideDown(200,function(){
                        $oe_menu_items.not('.slided').children('div').hide();
                        $this.removeClass('slided');
                    });
                }).bind('mouseleave',function(){
                    var $this = $(this);
                    $this.removeClass('selected').children('div').css('z-index','1');
                });

                $oe_menu.bind('mouseenter',function(){
                    var $this = $(this);
                    $oe_overlay.stop(true,true).fadeTo(200, 0.6);
                    $this.addClass('hovered');
                }).bind('mouseleave',function(){
                    var $this = $(this);
                    $this.removeClass('hovered');
                    $oe_overlay.stop(true,true).fadeTo(200, 0);
                    $oe_menu_items.children('div').hide();
                })
            });
        </script>
            <script type="text/javascript">
    $(function() {
        /* For zebra striping */
        $("table tr:nth-child(odd)").addClass("odd-row");
        /* For cell text alignment */
        $("table td:first-child, table th:first-child").addClass("first");
        /* For removing the last border */
        $("table td:last-child, table th:last-child").addClass("last");
    });
    </script>
        <script src="/javascripts/jquery-1.7.2.min.js"></script>
    <script src="/javascripts/jquery-ui-1.8.20.custom.min.js"></script>

    <!-- This of course is required. The full version (not .min) is also included in the js directory -->
    <script src="/javascripts/jquery.coda-slider-3.0.min.js"></script>
    <script>
    $(function(){

      /* Here is the slider using default settings */
      $('#slider-id').codaSlider();
      /* If you want to adjust the settings, you set an option
         as follows:

          $('#slider-id').codaSlider({
            autoSlide:true,
            autoHeight:false
          });
      
      */
    });

    </script> 

</body>
</html>
