<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Xebia Training FR - {{ page.title }}</title>
    <meta name="google-site-verification" content="CrJVtfbD9aL-n5VRLIDM7Bvu4li2tp1Q_2RlQT1hzSk" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css"/>
    <link rel="shortcut icon" type="image/png" href="/images/faviconXebia.png"/>
    <link rel="stylesheet" href="/stylesheets/main.css" type="text/css" media="screen" />
    <script src="/javascripts/jquery-1.7.1.min.js"></script>
<div id="prompt"></div>
<div class="navbar navbar-static">
    <div class="navbar-inner">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="row">
                            <a id="logo" class="brand" href="http://training.xebia.fr/index.html"></a>
                        <div class="box-top-nav">
        <a href="http://training.xebia.fr/catalogue-xebia-training-2013.pdf" class="learnmore-top">Télécharger notre catalogue 2013</a>
                </div>
                <div class="box-top-nav-1">
        <p>Téléphone : +33 (0)1 53 89 99 99</p>
                </div>
                    <div class="oe_wrapper">
                        <div class="container">
<div id='cssmenu'>
<ul>
   <li class='has-sub '><a href='http://training.xebia.fr/a-propos.html'><span>A propos</span></a>
      <ul>
         <li><a href='http://training.xebia.fr/inscription.html'><span>S'inscrire à une formation</span></a></li>
         <li><a href='http://training.xebia.fr/formations-intra-entreprise.html'><span>Formations intra-entreprise</span></a></li>
         <li><a href='http://training.xebia.fr/devenir-scrum-master.html'><span>Devenir Scrum Master</span></a></li>
         <li><a href='http://training.xebia.fr/xebia-essentials.html'><span>Xebia Essentials</span></a></li>
         <li><a href='http://training.xebia.fr/mentions-legales.html'><span>Mentions légales</span></a></li>
         <li><a href='http://training.xebia.fr/conditions-generales-de-vente.html'><span>Conditions générales</span></a></li>
      </ul>
   </li>
   <li class='has-sub '><a href='http://training.xebia.fr/formations-techniques.html'><span>Nos formateurs</span></a>
      <ul>
         <li class='has-sub '><a href=''><span>Certified Scrum Trainer</span></a>
            <ul>
                <li><a href="http://training.xebia.fr/nos-formateurs/jeff-sutherland.html">Jeff Sutherland</a></li>
                            <li><a href="http://training.xebia.fr/nos-formateurs/petra-skapa.html">Petra Skapa</a></li>
                            <li><a href="http://training.xebia.fr/nos-formateurs/joseph-little.html">Joseph Little</a></li>
                            <li><a href="http://training.xebia.fr/nos-formateurs/arlen-bankston.html">Arlen Bankston</a></li>
                            <li><a href="http://training.xebia.fr/nos-formateurs/xavier-quesada.html">Xavier Quesada</a></li>
            </ul>
         </li>
         <li class='has-sub '><a href=''><span>Coachs et formateurs agiles</span></a>
            <ul>
                            <li><a href="http://training.xebia.fr/nos-formateurs/gilles-mantel.html">Gilles Mantel</a></li>
                            <li><a href="http://training.xebia.fr/nos-formateurs/yannick-quenechdu.html">Yannick Quenec’hdu</a></li>
                            <li><a href="http://training.xebia.fr/nos-formateurs/nathaniel-richand.html">Nathaniel Richand</a></li>
                            <li><a href="">Renaud Chevalier</a></li>
                            <li><a href="http://training.xebia.fr/nos-formateurs/veronique-messager.html">Véronique Messager</a></li>
            </ul>
         </li>
         <li class='has-sub '><a href=''><span>Formateurs Agiles</span></a>
            <ul>
                 <li><a href="http://training.xebia.fr/nos-formateurs/dan-north.html">Dan North</a></li>
                            <li><a href="http://training.xebia.fr/nos-formateurs/alexandre-cuva.html">Alexandre Cuva</a></li>
                            <li><a href="http://training.xebia.fr/nos-formateurs/gojko-adzic.html">Gojko Adzic</a></li>
                            <li><a href="http://training.xebia.fr/nos-formateurs/veroniuqe-messager.html">Véronique Messager</a></li>
                            <li><a href="http://training.xebia.fr/nos-formateurs/patrick-sarfati.html">Patrick Sarfati</a></li>
                            <li><a href="http://training.xebia.fr/nos-formateurs/nathaniel-richand.html">Nathaniel Richand</a></li>
                            <li><a href="http://training.xebia.fr/nos-formateurs/michel-zam.html">Michel Zam</a></li>
            </ul>
         </li>
         <li class='has-sub '><a href=''><span>Formateurs Kanban</span></a>
            <ul>
                  <li><a href="http://training.xebia.fr/nos-formateurs/david-anderson.html">David Anderson</a></li>
                            <li><a href="http://training.xebia.fr/nos-formateurs/olav-maassen.html">Olav Maassen</a></li>
            </ul>
         </li>
         <li class='has-sub '><a href=''><span>Formateurs Java JEE</span></a>
            <ul>
                 <li><a href="http://training.xebia.fr/nos-formateurs/kirk-pepperdine.html">Kirk Pepperdine</a></li>
                            <li><a href="http://training.xebia.fr/nos-formateurs/antonio-goncalves.html">Antonio Goncalves</a></li>
                            <li><a href="http://training.xebia.fr/nos-formateurs/cyrille-le-clerc.html">Cyrille Le Clerc</a></li>
                            <li><a href="http://training.xebia.fr/nos-formateurs/pablo-lopez.html">Pablo Lopez</a></li>
                            <li><a href="http://training.xebia.fr/nos-formateurs/jose-paumares.html">José Paumares</a></li>
                            <li><a href="http://training.xebia.fr/nos-formateurs/ben-evans.html">Ben Evans</a></li>
                            <li><a href="http://training.xebia.fr/nos-formateurs/martijn-verburg.html">Martijn Verburg</a></li>
                            <li><a href="http://training.xebia.fr/nos-formateurs/stefan-tilkov.html">Stefan Tilkov</a></li>
                            <li><a href="http://training.xebia.fr/nos-formateurs/liz-keogh.html">Liz Keogh</a></li>
            </ul>
         </li>
         <li class='has-sub '><a href=''><span>Formateurs Scala</span></a>
            <ul>
                    <li><a href="#">Martin Odersky</a></li>
                            <li><a href="#">Trond Bjerkerstrand</a></li>
            </ul>
         </li>
         <li class='has-sub '><a href=''><span>Formateurs Mobilité</span></a>
            <ul>
                    <li><a href="http://training.xebia.fr/nos-formateurs/pascal-ognibene.html">Pascal Ognibene</a></li>
            </ul>
         </li>
          <li class='has-sub '><a href=''><span>Formateurs Web</span></a>
            <ul>
                    <li><a href="">Séven Le mesle</a></li>
            </ul>
         </li>
         <li class='has-sub '><a href=''><span>Formateurs BIG DATA & NoSQL</span></a>
            <ul>
                    <li><a href="http://training.xebia.fr/nos-formateurs/10gen.html">10Gen</a></li>
                            <li><a href="http://training.xebia.fr/nos-formateurs/cloudera.html">Cloudera</a></li>
                            <li><a href="">Julien Buret</a></li>
                            <li><a href="">Charles Blonde</a></li>
            </ul>
         </li>
         <li class='has-sub '><a href=''><span>Formateurs TDD & Craftsmanship</span></a>
            <ul>
                            <li><a href="http://training.xebia.fr/nos-formateurs/jean-laurent-de-morlhon.html">Jean-Laurent De Morlhon</a></li>
                            <li><a href="http://training.xebia.fr/nos-formateurs/nicolas-demengel.html">Nicolas Demengel</a></li>
            </ul>
         </li>

      </ul>
   </li>
   <li class='has-sub '><a href='http://training.xebia.fr/formations-techniques.html'><span>Formations techniques</span></a>
      <ul>
         <li class='has-sub '><a href='http://training.xebia.fr/formations-java-jee/formations-java.html'><span>Formations Java JEE</span></a>
            <ul>
               <li><a href='http://training.xebia.fr/formations-java-jee/formation-java-performance-tuning.html'>Formation Java performance tuning</a></li>
                  <li><a href="http://training.xebia.fr/formations-java-jee/formation-java-ee-6.html">Formation Architecture d’aujourd’hui avec Java EE 6</a></li>
                                        <li><a href="http://training.xebia.fr/formations-java-jee/formation-developpeur-java-moderne.html">Formation le Développeur Java moderne</a></li>
                                        <li><a href="http://training.xebia.fr/formations-java-jee/formation-scala.html">Formation Scala avec Typesafe</a></li>
                                        <li><a href="http://training.xebia.fr/formations-java-jee/formation-rest.html">Formation REST</a></li>
                                        <li><a href="../formations-java-jee/formation-applications-java-production.html">Formation Applications Java prêtes pour la production</a></li>
                                        <li><a href="http://training.xebia.fr/formations-java-jee/formation-tdd-software-craftsmanship.html">Formation TDD Software Craftsmanship</a></li>
                                        <li><a href="http://training.xebia.fr/formations-java-jee/formation-troubleshooting-en-java.html">Formation Troubleshooting en Java</a></li>
                                        <li><a href="http://training.xebia.fr/formations-java-jee/formation-maven.html">Formation Maven</a></li>
                                        <li><a href="http://training.xebia.fr/formations-java-jee/formation-devops-pour-java.html">Formation DevOps pour Java</a></li>
                                        <li><a href="../formations-java-jee/formation-cloud-computing.html">Formation Cloud Computing Java: de Amazon EC2 au Private Cloud</a></li>
                                        <li><a href="http://training.xebia.fr/formations-java-jee/formation-java-concurrency-specialist.html">Formation Java concurrency specialist</a></li>
            </ul>
         </li>
         <li class='has-sub '><a href='http://training.xebia.fr/formations-big-data-nosql/formations-big-data-nosql.html'><span>Formations Big Data & NoSQL</span></a>
            <ul>
               <li><a href="http://training.xebia.fr/formations-big-data-nosql/formation-mongodb.html">Formation MongoDB avec 10Gen en français</a></li>
                        <li><a href="http://training.xebia.fr/formations-big-data-nosql/formation-hadoop-certifiante-developpeurs.html">Formation Hadoop développeurs certifiante</a></li>
                        <li><a href="http://training.xebia.fr/formations-big-data-nosql/formation-hadoop-certifiante-administrateurs.html">Formation Hadoop administrateurs certifiante</a></li>
            </ul>
         </li>
         <li class='has-sub '><a href='http://training.xebia.fr/formations-java-jee/formations-java-essentials.html'><span>Formations Java Essentials</span></a>
            <ul>
                <li><a href="http://training.xebia.fr/formations-java-jee/formation-java-fondamentaux-1-jour.html">Formation "Les fondamentaux Java niveau 1" 1 journée</a></li>
                            <li><a href="http://training.xebia.fr/formations-java-jee/formation-java-fondamentaux-2-jours.html">Formation "Les fondamentaux Java niveau 1" 2 jours</a></li>
                            <li><a href="http://training.xebia.fr/formations-java-jee/formation-java-fondamentaux-2.html">Formation "les fondamentaux Java niveau 2" 1 journée</a></li>
            </ul>
         </li>
         <li class='has-sub '><a href='ttp://training.xebia.fr/formations-mobiles/formations-mobilite.html'><span>Formations Mobilité</span></a>
            <ul>
                  <li><a href="http://training.xebia.fr/formations-mobiles/formation-android.html">Formation Android</a></li>
            </ul>
         </li>
         <li class='has-sub '><a href='http://training.xebia.fr/formations-web/formations-web.html'><span>Formations Web</span></a>
            <ul>
                  <li><a href="http://training.xebia.fr/formations-web/formation-html-5.htm">Formation HTML 5</a></li>
            </ul>
         </li>
      </ul>
   </li>
     <li class='has-sub '><a href='http://training.xebia.fr/formations-methodes-agiles.html'><span>Formations Agiles</span></a>
      <ul>
         <li class='has-sub '><a href="http://training.xebia.fr/formations-methodes-agiles.html"><span>Certifications Scrum</span></a>
            <ul>
               <li><a href="http://training.xebia.fr/formation-scrummaster-certifiante-francais.html">Certification ScrumMaster certifiante en français</a></li>
                                        <li><a href="http://training.xebia.fr/formation-scrummaster-certifiante-anglais.html">Certification ScrumMaster certifiante en anglais</a></li>
                                        <li><a href="http://training.xebia.fr/formation-scrum-product-owner-certifiante-francais.html">Certification Scrum Product Owner en français</a></li>
                                        <li><a href="http://training.xebia.fr/formation-scrum-product-owner-certifiante-anglais.html">Certification Scrum Product Owner en anglais</a></li>
            </ul>
         </li>
         <li class='has-sub '><a href='http://training.xebia.fr/formations-methodes-agiles.html'><span>Formations Méthodes Agiles</span></a>
            <ul>
                <li><a href="http://training.xebia.fr/formation-business-agility-it-leaders.html">Formation Faster organisations : Business Agility for IT Leaders</a></li>
                                         <li><a href="http://training.xebia.fr/certification-management-3.0.html">Certification Management 3.0</a></li>
                                         <li><a href="http://training.xebia.fr/formation-user-stories-to-acceptance-tests.html">Formation User Stories to Acceptance Tests</a></li>
                                         <li><a href="http://training.xebia.fr/formation-introduction-a-scrum.html">Formation Introduction à Scrum (1 journée)</a></li>
                                         <li><a href="http://training.xebia.fr/formation-scrum-intra-entreprise.html">Formation Scrum en intra-entreprise</a></li>
                                        <li><a href="http://training.xebia.fr/formation-agile-managers.html">Formation Agile pour Managers</a></li>
                                        <li><a href="http://training.xebia.fr/formation-scrum-un-coach-en-pratique.html">Formation ScrumMasters, devenez le coach de votre équipe !</a></li>
                                        <li><a href="http://training.xebia.fr/formation-extreme-programming.html">Formation EXtreme Programming</a></li>
                                        <li><a href="http://training.xebia.fr/formation-savoir-rediger-des-user-stories.html">Formation Savoir rédiger des User stories</a></li>
                                        <li><a href="http://training.xebia.fr/formation-specifications-executables.html">Formation les spécifications exécutables</a></li>
                                        <li><a href="http://training.xebia.fr/formation-estimation-et-planification-agile.html">Formation Estimation et planification Agile</a></li>
                                        <li><a href="http://training.xebia.fr/formation-construire-une-equipe-ui-agile.html">Formation Construire une équipe UI Agile</a></li>
                                        <li><a href="http://training.xebia.fr/formation-faire-emerger-son-business-model-agile.html">Formation Faire émerger son business model Agile</a></li>
                                        <li><a href="http://training.xebia.fr/formation-agile-games.html">Formation Agile games</a></li>
                                        <li><a href="http://training.xebia.fr/formation-uml-agile.html">Formation UML Agile</a></li>
            </ul>
         </li>
         <li class='has-sub '><a href='http://training.xebia.fr/formations-methodes-agiles.html'><span>Formations Kanban</span></a>
            <ul>
                 <li><a href="http://training.xebia.fr/formation-kanban.html">Formation Kanban (Avec Lean Kanban University)</a></li>
                                        <li><a href="http://training.xebia.fr/formation-kanban-management-visuel.html">Formation Kanban Management Visuel</a></li>
                                        <li><a href="http://training.xebia.fr/formation-bdd-kanban.html">Formation BDD (Behaviour-Driven Development) & Kanban</a></li>
            </ul>
         </li>
         <li class='has-sub '><a href='ttp://training.xebia.fr/formations-mobiles/formations-mobilite.html'><span>Formations Lean</span></a>
            <ul>
                 <li><a href="http://training.xebia.fr/formations-methodes-agiles.html">Formation Architecture Lean</a></li>
                                        <li><a href="http://training.xebia.fr/formation-developpement-logiciel-avec-le-lean.html">Formation Développement logiciel avec le Lean</a></li> 
            </ul>
         </li>

         <li class='has-sub '><a href='http://training.xebia.fr/formations-methodes-agiles.html'><span>Formations Xebia Academy</span></a>
            <ul>
                                <li><a href="http://training.xebia.fr/formation-scrum-product-owner-academy.html">Formation Scrum Product Owner Academy </a></li>
                                 <li><a href="http://training.xebia.fr/formation-coach-academy.html">Formation Coach Academy</a></li>
                                 <li><a href="http://training.xebia.fr/formation-scrummaster-academy.html">Formation ScrumMaster Academy</a></li>
            </ul>
         </li>
      </ul>
   </li>

   <li class='has-sub '><a href='http://training.xebia.fr/formations-methodes-agiles.html'><span>Xebia Academy</span></a>
      <ul>
         <li class='has-sub '><a href="http://training.xebia.fr/formation-scrummaster-academy.html">Formation ScrumMaster Academy</a></li>
        <li class='has-sub'><a href="http://training.xebia.fr/formation-scrum-product-owner-academy.html">Formation Scrum Product Owner Academy </a></li>
        <li class='has-sub '><a href="http://training.xebia.fr/formation-coach-academy.html">Formation Coach Academy</a></li>
         </li>         
      </ul>
   </li>
   <li><a href='http://training.xebia.fr/coaching-agile.html'><span>Coaching Agile</span></a></li>
   <li><a href='http://training.xebia.fr/contact.html'><span>Contact</span></a></li>
</ul>
</div>
</div>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
</head>
<body>
{{ content }}
</body>
<footer>
    <div class="footer-inner">
        <div class="container">
            <div class="row-fluid">
                <div class="span4">
                    <div class="column leftcolumn">
                        <h2>XEBIA FRANCE</h2>
                            <address>
                              156 boulevard Haussmann<br/>
                              75008 PARIS 
                            </address>                     
                            +33 1 53 89 99 99<br/>
                            <a href="mailto:info@xebia-training.fr">info@xebia-training.fr</a>
                    </div>
                </div>
                <div class="span4">
                    <div class="column midcolumn">
                        <h2>XEBIA</h2>
                        <ul>
                            <li><a href="http://xebia.fr">Site Xebia France</a></li>  
                            <li><a href="http://blog.xebia.fr">Blog Xebia France</a></li>  
                            <li><a href="http://studio.xebia.fr">Xebia Studio France</a></li>          
                            <li><a href="http://training.xebia.com">Xebia Training Nederlands</a></li>
                            <li><a href="http://training.xebia.co.uk">Xebia Training UK</a></li>
                            <li><a href="http://xebialabs.com">Xebia Labs</a></li>
                            <li><a href="http://www.xebia.in">Xebia Inde</a></li>
                        </ul>
                    </div>
                </div>
                <div class="span4">
                    <div class="column righcolumn">
                        <h2>SUIVEZ-NOUS !</h2>
                        <a href="http://blog.xebia.fr"><b>Suivez-nous sur le blog xebia</b></a>
                        <div id="social-bar">
                            <a href="http://www.linkedin.com/company/xebia-training/"><img src="/images/linkedin.png" alt="linkedin"></a>
                        </div>
                    </div>
                </div>
            </div>      
        </div>
    </div>
</footer>
  <!--[if IE]>
    <script type="text/javascript" 
     src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>

    <style>
     .chromeFrameInstallDefaultStyle {
       
       width: 100%; /* default is 800px */
       border: 5px solid blue;
       z-index: 10;
     }
    </style>
    
    <script>
     window.attachEvent("onload", function() {
       CFInstall.check({
         mode:"overlay",
         node: "prompt"
       });
     });
    </script>
  <![endif]-->

<script type="text/javascript">

 var _gaq = _gaq || [];
 _gaq.push(['_setAccount', 'UA-35612631-1']);
 _gaq.push(['_trackPageview']);

 (function() {
   var ga = document.createElement('script'); ga.type =
'text/javascript'; ga.async = true;
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' :
'http://www') + '.google-analytics.com/ga.js';
   var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(ga, s);
 })();

</script>
    <script type="text/javascript">
    $(document).ready(function($){
        $('#mega-menu-1').dcMegaMenu({
            rowItems: '4',
            speed: 'fast',
            effect: 'fade',
            fullWidth: true
        });
    });
    </script>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script type="text/javascript">
    $(function() {
        /* For zebra striping */
        $("table tr:nth-child(odd)").addClass("odd-row");
        /* For cell text alignment */
        $("table td:first-child, table th:first-child").addClass("first");
        /* For removing the last border */
        $("table td:last-child, table th:last-child").addClass("last");
    });
    </script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
        <script type="text/javascript">
            $(function() {
                var $oe_menu        = $('#oe_menu');
                var $oe_menu_items  = $oe_menu.children('li');
                var $oe_overlay     = $('#oe_overlay');

                $oe_menu_items.bind('mouseenter',function(){
                    var $this = $(this);
                    $this.addClass('slided selected');
                    $this.children('div').css('z-index','9999').stop(true,true).slideDown(200,function(){
                        $oe_menu_items.not('.slided').children('div').hide();
                        $this.removeClass('slided');
                    });
                }).bind('mouseleave',function(){
                    var $this = $(this);
                    $this.removeClass('selected').children('div').css('z-index','1');
                });

                $oe_menu.bind('mouseenter',function(){
                    var $this = $(this);
                    $oe_overlay.stop(true,true).fadeTo(200, 0.6);
                    $this.addClass('hovered');
                }).bind('mouseleave',function(){
                    var $this = $(this);
                    $this.removeClass('hovered');
                    $oe_overlay.stop(true,true).fadeTo(200, 0);
                    $oe_menu_items.children('div').hide();
                })
            });
        </script>
            <script type="text/javascript">
    $(function() {
        /* For zebra striping */
        $("table tr:nth-child(odd)").addClass("odd-row");
        /* For cell text alignment */
        $("table td:first-child, table th:first-child").addClass("first");
        /* For removing the last border */
        $("table td:last-child, table th:last-child").addClass("last");
    });
    </script>
        <script src="/javascripts/jquery-1.7.2.min.js"></script>
    <script src="/javascripts/jquery-ui-1.8.20.custom.min.js"></script>

    <!-- This of course is required. The full version (not .min) is also included in the js directory -->
    <script src="/javascripts/jquery.coda-slider-3.0.min.js"></script>
    <script>
    $(function(){

      /* Here is the slider using default settings */
      $('#slider-id').codaSlider();
      /* If you want to adjust the settings, you set an option
         as follows:

          $('#slider-id').codaSlider({
            autoSlide:true,
            autoHeight:false
          });
      
      */
    });
    </script> 
</html>
