---
layout: simple
---
<div class="above-title"></div>
<section id="title" class="stretch bg-fixed">
   <div class="container">
      <div class="row">
         <div class="span12 title-spacer-2">
            <div class="clearfix"></div>
            <h1 class="title"><span>{{ page.title }}</span></h1>
            <div class="clearfix"></div>
         </div>
      </div>
   </div>
</section>

<div class="container">
   <div class="row">
      <div class="span12">
         <div class="row">
            <div class="span12 margin-top-bottom">
              <div class="post">
        <div class="entry">
            {% if page.image %}
            <img src="{{ page.image }}" style="float:right; margin:auto auto 1em 1em;" />
            {% endif %}
            {{ content }}
        </div>
        <table class="nav">
            <tr>
                <td class="left fifty">
                    {% if page.previous %}
                        <a href="{{ page.previous.url | replace:'index.html','' }}"><img src="{{ site.cdn_url }}/images/left.png" width="30" height="32"> {{ page.previous.title }}</a>
                    {% endif %}
                </td>
                <td class="right fifty">
                    {% if page.next %}
                        <a href="{{ page.next.url | replace:'index.html','' }}">{{ page.next.title }} <img src="/images/right.png" width="30" height="32"></a>
                    {% endif %}
                </td>
            </tr>
        </table>
        
            <p class="dt">{{ page.date | date: "%A, %B %d, %Y" }}</p>
    </div>
    </div>
</div>  
    </div>
</div>  
</div>