<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>{{ page.title }} - Xebia Training France </title>
  <meta name="google-site-verification" content="CrJVtfbD9aL-n5VRLIDM7Bvu4li2tp1Q_2RlQT1hzSk" />
    <meta name="description" content="{{ page.description }}" />
    <meta name="keywords" content="{{ page.keywords }}" />
	<meta name="viewport" content="width=device-width">
	<link rel="shortcut icon" href="http://cdn.training.xebia.fr/img/icons/favicon.png">
	<link rel="apple-touch-icon" href="http://cdn.training.xebia.fr/img/icons/apple-touch-icon.png">
	<link rel="apple-touch-icon" href="http://cdn.training.xebia.fr/img/icons/apple-touch-icon-precomposed.png">
	<link rel="apple-touch-icon" sizes="57x57" href="http://cdn.training.xebia.fr/img/icons/apple-touch-icon-57x57-precomposed.png">
	<link rel="apple-touch-icon" sizes="72x72" href="http://cdn.training.xebia.fr/img/icons/apple-touch-icon-72x72-precomposed.png">
	<link rel="apple-touch-icon" sizes="114x114" href="http://cdn.training.xebia.fr/img/icons/apple-touch-icon-114x114-precomposed.png">
	<link href='http://fonts.googleapis.com/css?family=Dosis:600' rel='stylesheet' type='text/css'>
  	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
  	<link rel="stylesheet" href="http://cdn.training.xebia.fr/css/prettyphoto.css">
  	<link rel="stylesheet" href="http://cdn.training.xebia.fr/css/fontawesome.css">
  	<!--[if IE 7]>
    <link rel="stylesheet" href="css/fontawesome.css-ie7.css">
  	<![endif]-->
	<link rel="stylesheet" href="http://cdn.training.xebia.fr/css/bootstrap.css">
	<link rel="stylesheet" href="http://cdn.training.xebia.fr/css/bootstrap-responsive.css">
	<link rel="stylesheet" href="http://cdn.training.xebia.fr/css/custom_images_colors.css">
	<link rel="stylesheet" href="http://training.xebia.fr/css/style.css">
  <link rel="stylesheet" href="http://cdn.training.xebia.fr/includes/assets/css/styles.css">
    <link rel="stylesheet" href="http://cdn.training.xebia.fr/includes/assets/css/page.css">
	<script src="http://cdn.training.xebia.fr/includes/js/libs/jquery-1.7.2.min.js"></script>
	<script src="http://cdn.training.xebia.fr/includes/js/libs/modernizr-2.5.3-respond-1.1.0.min.js"></script>
  
</head>
<body>
<section id="nav" class="fixed_nav">
   <div class="container">
      <div class="row">
         <div class="span12">
            <div class="navbar">
               <div class="navbar-inner">
                  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  </a>
                  <a href="http://training.xebia.fr" class="brand"> <img src="http://cdn.training.xebia.fr/img/logo.png" alt="logo" />
                  </a>
                  <!-- .brand -->
                  <div class="nav-collapse">
                     <ul class="nav">
                         <li class="dropdown">
                           <a data-toggle="dropdown" class="dropdown-toggle" href="http://training.xebia.fr/apropos.html">A propos <b class="caret"></b></a>
                           <ul class="dropdown-menu">
                              <li><a href='http://training.xebia.fr/apropos.html'><span>A propos de nous</span></a></li>
                              <li><a href='http://training.xebia.fr/inscription.html'><span>S'inscrire à une formation</span></a></li>
                              <li><a href='http://training.xebia.fr/devenir-scrum-master.html'><span>Devenir Scrum Master</span></a></li>
                              <li><a href='http://training.xebia.fr/xebia-essentials.html'><span>Xebia Essentials</span></a></li>
                              <li><a href='http://training.xebia.fr/mentions-legales.html'><span>Mentions légales</span></a></li>
                              <li><a href='http://training.xebia.fr/conditions-generales-de-vente.html'><span>Conditions générales</span></a></li>
                              </li>
                           </ul>
                        </li>
                        <li class="dropdown">
                           <a data-toggle="dropdown" class="dropdown-toggle" href="http://training.xebia.fr/formations-techniques.html">Formations techniques <b class="caret"></b></a>
                           <ul class="dropdown-menu">
                            <li><a href='http://training.xebia.fr/formations-techniques.html'><span>Catalogue formations techniques 2013</span></a></li>
                              <li class="dropdown-submenu">
                                 <a href="#" tabindex="-1">Formations Java JEE</a>
                                 <ul class="dropdown-menu">
                                  <li><a href='http://training.xebia.fr/formations-java-jee/formations-java.html'><span>Catalogue formations Java JEE 2013</span></a></li>
                                    <li><a href='http://training.xebia.fr/formations-java-jee/formation-java-performance-tuning.html'>Formation Java performance tuning</a></li>
                                    <li><a href="http://training.xebia.fr/formations-java-jee/formation-java-ee-6.html">Formation Architecture d’aujourd’hui avec Java EE 6</a></li>
                                    <li><a href="http://training.xebia.fr/formations-java-jee/formation-developpeur-java-moderne.html">Formation le Développeur Java moderne</a></li>
                                    <li><a href="http://training.xebia.fr/formations-java-jee/formation-scala.html">Formation Scala avec Typesafe</a></li>
                                    <li><a href="http://training.xebia.fr/formations-java-jee/formation-rest.html">Formation REST</a></li>
                                    <li><a href="http://training.xebia.fr/formations-java-jee/formation-applications-java-production.html">Formation Applications Java prêtes pour la production</a></li>
                                    <li><a href="http://training.xebia.fr/formations-java-jee/formation-tdd-software-craftsmanship.html">Formation TDD Software Craftsmanship</a></li>
                                    <li><a href="http://training.xebia.fr/formations-java-jee/formation-troubleshooting-en-java.html">Formation Troubleshooting en Java</a></li>
                                    <li><a href="http://training.xebia.fr/formations-java-jee/formation-maven.html">Formation Maven</a></li>
                                    <li><a href="http://training.xebia.fr/formations-java-jee/formation-cloud-computing.html">Formation Cloud Computing Java: de Amazon EC2 au Private Cloud</a></li>
                                    <li><a href="http://training.xebia.fr/formations-java-jee/formation-java-concurrency-specialist.html">Formation Java concurrency specialist</a></li>
                                 </ul>
                              </li>
                              <li class="dropdown-submenu">
                                 <a href="http://training.xebia.fr/formations-big-data-nosql/formations-big-data-nosql.html" tabindex="-1">Formations Big Data & NoSQL</a>
                                 <ul class="dropdown-menu">
                                    <li><a href='http://training.xebia.fr/formations-big-data-nosql/formations-big-data-nosql.html'><span>Catalogue formations Big Data & NoSQL</span></a></li>
                                    <li><a href="http://training.xebia.fr/formations-big-data-nosql/formations-hadoop.html">Formations Hadoop</a></li>
                                    <li><a href="http://training.xebia.fr/formations-big-data-nosql/formation-hadoop-certifiante-developpeurs.html">Formation Hadoop développeurs certifiante</a></li>
                                    <li><a href="http://training.xebia.fr/formations-big-data-nosql/formation-hadoop-certifiante-administrateurs.html">Formation Hadoop administrateurs certifiante</a></li>
                                    <li><a href="http://training.xebia.fr/formations-big-data-nosql/formation-mongodb.html">Formation MongoDB avec 10Gen</a></li>
                                    <li><a href="http://training.xebia.fr/formations-big-data-nosql/formation-apache-cassandra.html">Formation Apache Cassandra certifiante avec DataStax</a></li>
                                 </ul>
                              </li>
                              <li class="dropdown-submenu">
                                 <a href="http://training.xebia.fr/formations-java-jee/formations-java-essentials.html" tabindex="-1">Formations Java Essentials</a>
                                 <ul class="dropdown-menu">
                                    <li><a href='http://training.xebia.fr/formations-java-jee/formations-java-essentials.html'><span>Catalogue formations Java Essentials</span></a></li>
                                    <li><a href="http://training.xebia.fr/formations-java-jee/formation-java-fondamentaux-1-jour.html">Formation "Les fondamentaux Java niveau 1" 1 journée</a></li>
                                    <li><a href="http://training.xebia.fr/formations-java-jee/formation-java-fondamentaux-2-jours.html">Formation "Les fondamentaux Java niveau 1" 2 jours</a></li>
                                    <li><a href="http://training.xebia.fr/formations-java-jee/formation-java-fondamentaux-2.html">Formation "les fondamentaux Java niveau 2" 1 journée</a></li>
                                 </ul>
                              </li>

                               <li class="dropdown-submenu">
                                 <a href="http://training.xebia.fr/formations-devops/" tabindex="-1">Formations DevOps</a>
                                 <ul class="dropdown-menu">
                                   <li><a href="http://training.xebia.fr/formations-devops/formation-puppet.html">Formation « Fondamentaux de Puppet » avec PuppetLabs</a></li>   
                                   <li><a href="http://training.xebia.fr/formations-devops/formation-deployit.html">Formation Deployit</a></li>        
                                     <li><a href="http://training.xebia.fr/formations-devops/formation-devops-pour-java.html">Formation DevOps pour Java</a></li>
                                 </ul>
                              </li>
                               <li class="dropdown-submenu">
                                 <a href="http://training.xebia.fr/formations-mobiles/" tabindex="-1">Formations Mobilité</a>
                                 <ul class="dropdown-menu">
                                  <li><a href='http://training.xebia.fr/formations-mobiles/'><span>Catalogue formations Mobilité</span></a></li>
                                    <li><a href="http://training.xebia.fr/formations-mobiles/formation-android.html">Formation Android</a></li>
                                 </ul>
                              </li>
                              <li class="dropdown-submenu">
                                 <a href="http://training.xebia.fr/formations-web/" tabindex="-1">Formations Web</a>
                                 <ul class="dropdown-menu">
                                  <li><a href="http://training.xebia.fr/formations-web/">Catalogue formations Web</a></li>  
                                    <li><a href="http://training.xebia.fr/formations-web/formation-html-5.html">Formation HTML 5</a></li>
                                    <li><a href="http://training.xebia.fr/formations-web/formation-emberjs.html">Formation Ember JS</a></li>     
                                    <li><a href="http://training.xebia.fr/formations-web/formation-backbone.html">Formation Backbone</a></li>                                    
                                 </ul>
                              </li>
                           </ul>
                        </li>
                        <li class="dropdown">
                           <a data-toggle="dropdown" class="dropdown-toggle" href="http://training.xebia.fr/formations-methodes-agiles.html">Formations Agiles <b class="caret"></b></a>
                           <ul class="dropdown-menu">
                            <li><a href='http://training.xebia.fr/formations-methodes-agiles.html'><span>Catalogue formations agiles 2013</span></a></li>
                              <li class="dropdown-submenu">
                                 <a href="http://training.xebia.fr/certifications-scrum.html" tabindex="-1">Certifications Scrum</a>
                                 <ul class="dropdown-menu">
                                  <li><a href='http://training.xebia.fr/certifications-scrum.html'><span>Catalogue Certifications Scrum 2013</span></a></li>
                                    <li><a href="http://training.xebia.fr/formation-scrummaster-certifiante-francais.html">Certification ScrumMaster certifiante en français</a></li>
                                    <li><a href="http://training.xebia.fr/formation-scrummaster-certifiante-anglais.html">Certification ScrumMaster certifiante en anglais</a></li>
                                    <li><a href="http://training.xebia.fr/formation-scrum-product-owner-certifiante-francais.html">Certification Scrum Product Owner en français</a></li>
                                    <li><a href="http://training.xebia.fr/formation-scrum-product-owner-certifiante-anglais.html">Certification Scrum Product Owner en anglais</a></li>
                                 </ul>
                              </li>
                              <li class="dropdown-submenu">
                                 <a href="#" tabindex="-1">Formations Méthodes Agiles</a>
                                 <ul class="dropdown-menu">
                                  <li><a href='http://training.xebia.fr/formations-methodes-agiles.html'><span>Catalogue formations Méthodes Agiles 2013</span></a></li>
                                    <li><a href="http://training.xebia.fr/formation-scrumban.html">Formation Scrumban</a></li>
                                    <li><a href="http://training.xebia.fr/formation-business-agility-it-leaders.html">Formation Faster organisations : Business Agility for IT Leaders</a></li>
                                    <li><a href="http://training.xebia.fr/formation-management-3-0.html">Certification Management 3.0</a></li>
                                    <li><a href="http://training.xebia.fr/formation-user-stories-to-acceptance-tests.html">Formation User Stories to Acceptance Tests</a></li>
                                    <li><a href="http://training.xebia.fr/formation-introduction-a-scrum.html">Formation Introduction à Scrum (1 journée)</a></li>
                                    <li><a href="http://training.xebia.fr/formation-scrum-intra-entreprise.html">Formation Scrum en intra-entreprise</a></li>
                                    <li><a href="http://training.xebia.fr/formation-agile-managers.html">Formation Agile pour Managers</a></li>
                                    <li><a href="http://training.xebia.fr/formation-scrum-un-coach-en-pratique.html">Formation ScrumMasters, devenez le coach de votre équipe !</a></li>
                                    <li><a href="http://training.xebia.fr/formation-savoir-rediger-des-user-stories.html">Formation Savoir rédiger des User stories</a></li>
                                    <li><a href="http://training.xebia.fr/formation-specifications-executables.html">Formation les spécifications exécutables</a></li>
                                    <li><a href="http://training.xebia.fr/formation-uml-agile.html">Formation UML Agile</a></li>
                                 </ul>
                              </li>
                              <li class="dropdown-submenu">
                                 <a href="#" tabindex="-1">Formations Kanban</a>
                                 <ul class="dropdown-menu">
                                    <li><a href="http://training.xebia.fr/formation-introduction-kanban.html">Formation introduction à Kanban</a></li>
                                    <li><a href="http://training.xebia.fr/formation-kanban.html">Formation Kanban</a></li>
                                    <li><a href="http://training.xebia.fr/formation-kanban-management-visuel.html">Formation Kanban Management Visuel</a></li>
                                    <li><a href="http://training.xebia.fr/formation-bdd-kanban.html">Formation BDD (Behaviour-Driven Development) & Kanban</a></li>
                                 </ul>
                              </li>
                               <li class="dropdown-submenu">
                                 <a href="#" tabindex="-1">Formations Lean</a>
                                 <ul class="dropdown-menu">
                                    <li><a href="http://training.xebia.fr/formation-developpement-logiciel-avec-le-lean.html">Formation Développement logiciel avec le Lean</a></li> 
                                 </ul>
                              </li>
                              <li class="dropdown-submenu">
                                 <a href="#" tabindex="-1">Formations Scrum Academy</a>
                                 <ul class="dropdown-menu">
                                  <li><a href='http://training.xebia.fr/scrum-academy.html'><span>Cursus Scrum Academy 2013</span></a></li>
                                     <li><a href="http://training.xebia.fr/formation-scrummaster-academy.html">Formation ScrumMaster Academy</a></li>
                                     <li><a href="http://training.xebia.fr/formation-scrum-product-owner-academy.html">Formation Scrum Product Owner Academy </a></li>
                                     <li><a href="http://training.xebia.fr/formation-coach-academy.html">Formation Coach Academy</a></li>    
                                 </ul>
                              </li>
                           </ul>
                        </li>
                        <li class="dropdown">
                           <a data-toggle="dropdown" class="dropdown-toggle" href="portfolio_2_col.html">Nos formateurs <b class="caret"></b></a>
                           <ul class="dropdown-menu">
                              <li class="dropdown-submenu">
                                 <a href="#" tabindex="-1">Certified Scrum Trainer</a>
                                 <ul class="dropdown-menu">
                                    <li><a href="http://training.xebia.fr/nos-formateurs/jeff-sutherland.html">Jeff Sutherland</a></li>
                                     <li><a href="http://training.xebia.fr/nos-formateurs/petra-skapa.html">Petra Skapa</a></li>
                                     <li><a href="http://training.xebia.fr/nos-formateurs/joseph-little.html">Joseph Little</a></li>
                                     <li><a href="http://training.xebia.fr/nos-formateurs/arlen-bankston.html">Arlen Bankston</a></li>
                                     <li><a href="http://training.xebia.fr/nos-formateurs/xavier-quesada.html">Xavier Quesada</a></li>
                                 </ul>
                              </li>
                              <li class="dropdown-submenu">
                                 <a href="#" tabindex="-1">Coachs et formateurs agiles Xebia</a>
                                 <ul class="dropdown-menu">
                                    <li><a href="http://training.xebia.fr/nos-formateurs/gilles-mantel.html">Gilles Mantel</a></li>
                                    <li><a href="http://training.xebia.fr/nos-formateurs/yannick-quenechdu.html">Yannick Quenec’hdu</a></li>
                                    <li><a href="http://training.xebia.fr/nos-formateurs/nathaniel-richand.html">Nathaniel Richand</a></li>
                                    <li><a href="">Renaud Chevalier</a></li>
                                 </ul>
                              </li>
                              <li class="dropdown-submenu">
                                 <a href="#" tabindex="-1">Formateurs Agiles</a>
                                 <ul class="dropdown-menu">
                                     <li><a href="http://training.xebia.fr/nos-formateurs/dan-north.html">Dan North</a></li>
                                     <li><a href="http://training.xebia.fr/nos-formateurs/alexandre-cuva.html">Alexandre Cuva</a></li>
                                     <li><a href="http://training.xebia.fr/nos-formateurs/gojko-adzic.html">Gojko Adzic</a></li>
                                     <li><a href="http://training.xebia.fr/nos-formateurs/veronique-messager.html">Véronique Messager</a></li>
                                     <li><a href="http://training.xebia.fr/nos-formateurs/patrick-sarfati.html">Patrick Sarfati</a></li>
                                     <li><a href="http://training.xebia.fr/nos-formateurs/michel-zam.html">Michel Zam</a></li>
                                 </ul>
                              </li>
                              <li class="dropdown-submenu">
                                 <a href="#" tabindex="-1">Formateurs Kanban</a>
                                 <ul class="dropdown-menu">
                                    <li><a href="http://training.xebia.fr/nos-formateurs/olav-maassen.html">Olav Maassen</a></li>
                                    <li><a href="http://training.xebia.fr/nos-formateurs/alexis-nicolas.html">Alexis Nicolas</a></li>
                                 </ul>
                              </li>
                              <li class="dropdown-submenu">
                                 <a href="#" tabindex="-1">Formateurs Lean</a>
                                 <ul class="dropdown-menu">
                                    <li><a href="">Mary et Tom Poppendieck</a></li>
                                    <li><a href="">James Coplien</a></li>
                                 </ul>
                              </li>
                              <li class="dropdown-submenu">
                                 <a href="#" tabindex="-1">Formateurs Java JEE</a>
                                 <ul class="dropdown-menu">
                                     <li><a href="http://training.xebia.fr/nos-formateurs/kirk-pepperdine.html">Kirk Pepperdine</a></li>
                                     <li><a href="http://training.xebia.fr/nos-formateurs/antonio-goncalves.html">Antonio Goncalves</a></li>
                                     <li><a href="">Cyrille Le Clerc</a></li>
                                     <li><a href="">Pablo Lopez</a></li>
                                     <li><a href="">José Paumares</a></li>
                                     <li><a href="">Ben Evans</a></li>
                                     <li><a href="">Martijn Verburg</a></li>
                                     <li><a href="">Stefan Tilkov</a></li>
                                     <li><a href="">Liz Keogh</a></li>
                                 </ul>
                              </li>
                              <li class="dropdown-submenu">
                                 <a href="#" tabindex="-1">Formateurs Scala</a>
                                 <ul class="dropdown-menu">
                                    <li><a href="#">Martin Odersky</a></li>
                                    <li><a href="#">Trond Bjerkerstrand</a></li>
                                 </ul>
                              </li>
                              <li class="dropdown-submenu">
                                 <a href="#" tabindex="-1">Formateurs Mobilité</a>
                                 <ul class="dropdown-menu">
                                    <li><a href="http://training.xebia.fr/nos-formateurs/pascal-ognibene.html">Pascal Ognibene</a></li>
                                 </ul>
                              </li>
                              <li class="dropdown-submenu">
                                 <a href="#" tabindex="-1">Formateurs Web</a>
                                 <ul class="dropdown-menu">
                                    <li><a href="#">Séven Le mesle</a></li>
                                    <li><a href="http://training.xebia.fr/nos-formateurs/benoit-lemoine.html">Benoit Lemoine</a></li>
                                    <li><a href="mathieu-breton">Mathieu Breton</a></li>
                                 </ul>
                              </li>
                              <li class="dropdown-submenu">
                                 <a href="#" tabindex="-1">Formateurs BIG DATA & NoSQL</a>
                                 <ul class="dropdown-menu">
                                   <li><a href="http://training.xebia.fr/nos-formateurs/10gen.html">10Gen</a></li>
                                  <li><a href="http://training.xebia.fr/nos-formateurs/cloudera.html">Cloudera</a></li>
                                  <li><a href="http://training.xebia.fr/nos-formateurs/julien-buret.html">Julien Buret</a></li>
                                  <li><a href="http://training.xebia.fr/nos-formateurs/charles-blonde.html">Charles Blonde</a></li>
                                 </ul>
                              </li>
                              <li class="dropdown-submenu">
                                 <a href="#" tabindex="-1">Formateurs TDD & Craftsmanship</a>
                                 <ul class="dropdown-menu">
                            <li><a href="">Nicolas Demengel</a></li>
                                 </ul>
                              </li>
                           </ul>
                        </li>
                        <li><a href='http://training.xebia.fr/promos.html'><span>Promos</span></a></li>
                        <li><a href='http://training.xebia.fr/news.html'><span>News</span></a></li>
                        <li><a href='http://training.xebia.fr/contact.html'><span>Contact</span></a></li>
                     </ul>
                  </div>
                  <!-- .nav-collapse -->
               </div>
            </div>
            <!-- .navbar -->
         </div>
         <!-- .span12 -->
      </div>
      <!-- .row -->
   </div>
   <!-- .container -->
</section>
            {{ content }}
           
<footer>
 <div class="container">
   <div class="row">
     <div class="span12">
      <div class="row">
        <div class="span4">
                             <address>
                              156 boulevard Haussmann &nbsp;<a href="http://g.co/maps/56s4x"><img src="/images/marker.png" alt="156 Boulevard Haussmann"></a><br>
                              75008 PARIS &nbsp;
                            </address>
        <hr class="margin-top-bottom visible-phone" ><!-- Horizontal Rule shows on Phone-->
        </div><!-- .span4 -->
        <div class="span4">
            <address>
              +33 1 53 89 99 93<br>
                            <a href="mailto:info@xebia-training.fr">info@xebia-training.fr</a>   
                            </address>            
        <div class="clearfix"></div>
        <hr class="margin-top-bottom visible-phone" ><!-- Horizontal Rule shows on Phone-->
        </div><!-- .span4 -->
        <div class="span4">
            <ul class="social-bookmarks">   
                <li class="twitter"><a href="https://twitter.com/XebiaTraining">twitter</a></li>
                <li class="linkedin"><a href="http://www.linkedin.com/company/xebia-training">Linkedin</a></li>
                <li class="viadeo"><a href="">Viadeo</a></li>  
                <li class="vimeo"><a href="http://vimeo.com/xebia">Vimeo</a></li>   
                <li class="rss"><a href="feed:http://blog.xebia.fr/feed/?dualfeed=2">RSS</a></li> 
        </ul>
        </div><!-- .span4 -->
      </div><!-- .row -->
     </div><!-- .span12 -->
   </div><!-- .row -->
 </div><!-- .container -->
</footer>
<!-- End Footer -->
<script type="text/javascript">

 var _gaq = _gaq || [];
 _gaq.push(['_setAccount', 'UA-35612631-1']);
 _gaq.push(['_trackPageview']);

 (function() {
   var ga = document.createElement('script'); ga.type =
'text/javascript'; ga.async = true;
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' :
'http://www') + '.google-analytics.com/ga.js';
   var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(ga, s);
 })();

</script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
<script src="http://cdn.training.xebia.fr/includes/js/jquery.flexslider-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.cycle/2.9999.8/jquery.cycle.all.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="http://cdn.training.xebia.fr/includes/js/jquery.prettyPhoto.js"></script>
<script src="http://cdn.training.xebia.fr/includes/js/jquery.ui.totop.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fitvids/1.0.1/jquery.fitvids.min.js"></script>
<script src="http://cdn.training.xebia.fr/includes/js/jquery.isotope.min.js"></script>

<!--[if lt IE 9]> <script src="http://cdn.training.xebia.fr/includes/js/backgroundSize.js"></script> <![endif]-->
<!-- Contact Form Validation -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.10.0/jquery.validate.min.js" type="text/javascript"></script>

<script src="http://cdn.training.xebia.fr/includes/js/script.js"></script>
<script src="http://cdn.training.xebia.fr/includes/js/script-nav.js"></script>
  <!--Start of Zopim Live Chat Script-->
<script type="text/javascript">
window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
$.src='//cdn.zopim.com/?11eomyu3hQob7Y1Yn7hhqR1V1ma5HWoW';z.t=+new Date;$.
type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
</script>
<!--End of Zopim Live Chat Script-->


</body>
</html>